@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Biblioteca Digital";
    Layout = "_LayoutPaciente";

}

<div class="fade-in note">

    <section class="container-fluid note-section library featured" id="nota3">
        <div class="container">
            <div class="row">
                <div class="col">
                    
                    <div class="cont-titulo-receta">
                        <div class="cont-logo">
                            <img src="~/img/scotiabank/recetas/logo.svg" alt="" />
                    <h1 class="title-section">
                        Budín de coliflor
                    </h1>
                        </div>
                    <img src="~/img/scotiabank/recetas/food.png" alt="" />
                    
                    </div>
                    
                    
                </div>

            </div>
        </div>
    </section>

    <section class="container-fluid main note-content">
        <div class="container inner-section">
            <div class="row">
                <div class="col-12 col-md">
                    <h2 class="subtitulo-receta">
                        Ingredientes:
                    </h2>

                    <ol>
                        <li>1 coliflor grande</li>
                        <li>1 cebolla</li>
                        <li>3 huevos</li>
                        <li>Aceite, sal y pimienta</li>
                        <li>Queso rallado</li>
                    </ol>
                   
                    <h2 class="subtitulo-receta">
                        Paso a paso:
                    </h2>
                    <ol>
                        <li>Cortar la coliflor en racimos. Colocar en una olla y cubrir con agua con sal. Cocinar a fuego fuerte hasta que empiece a hervir. Bajar a fuego medio y cocinar por 12 minutos.</li>
                        <li>Picar la cebolla en cubos pequeños y dorar en un sartén por 10 minutos.</li>
                        <li>Eliminar el exceso de agua de la coliflor y moler.</li>
                        <li>Precalentar el horno a 200ºC.</li>
                        <li>Batir las claras a nieve.</li>
                        <li>Juntar la coliflor molida, la cebolla dorada, las yemas, el queso rallado, sal y pimienta. Mezclar bien.</li>
                        <li>Agregar la mitad de las claras a nieve y mezclar suavemente con la coliflor. Luego agregar la otra mitad.</li>
                        <li>Verter en una fuente.</li>
                        <li>Hornear por 25 minutos.</li>
                        <li>Dejar enfriar 5 a 10 minutos antes de servir.</li>

                        
                    </ol>
                   
                     
                    
                    <p>
                        <a href="@Url.Action("Descargar", new { file = ViewBag.codigoNota})">
                            Descargar PDF
                        </a>
                        
                    </p>
                </div>
                <div class="col-12 col-md-auto sidebar sidebar-nota">
                    <div class="cont-icon-bar">
                        <partial name="~/Views/Biblioteca/_IconBar.cshtml" model="Model" view-data="ViewData" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/splide.min.js"></script>
    <script src="~/js/carrusel.js"></script>
    <script type="module">
        import { init } from '../../js/Paciente/loguso.js?rnd=${@NumeroRandom.GetRandom()}';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>


}
