@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Biblioteca Digital";
    Layout = "_LayoutPaciente";

}

<div class="fade-in note">
    
    
    
    <section class="container-fluid note-section library featured" id="nota3">
        <div class="container">
            <div class="row">
                <div class="col">
                    
                    <div class="cont-titulo-receta">
                        <div class="cont-logo">
                            <img src="~/img/cajalosandes/recetas/logo.svg" alt="" />
                            <h1 class="title-section">
                                Lasaña de verduras
                            </h1>
                        </div>
                        <img src="~/img/cajalosandes/recetas/lasana_verduras.png" alt="lasana_verduras" />
                    
                    </div>
                    
                    
                </div>

            </div>
        </div>
    </section>
  

    <section class="container-fluid main note-content">
        <div class="container inner-section">
            <div class="row">
                <div class="col-12 col-md">
                    <h2 class="subtitulo-receta">
                        Ingredientes:
                    </h2>

                    <ol>
                        
                        <li>1 zapallito italiano</li>
                        <li>1 cebolla</li>
                        <li>3 dientes de ajo</li>
                        <li>200 grs de champiñones</li>
                        <li>600 grs de espinacas</li>
                        <li>8 láminas de lasaña</li>
                        <li>200 grs de tomate</li>
                        <li>500 grs de tomate molido</li>
                        <li>150 grs de queso bajo en grasa</li>
                        <li>Sal, pimenta y orégano</li>
                        <li>Aceite de oliva</li>


                       

                    </ol>
                   
                    <h2 class="subtitulo-receta">
                        Preparación
                    </h2>
                    <ol>
                        
                        <li>Picamos la cebolla, el zapallo italiano, los ajos y champiñones en láminas.</li>
                        <li>Con un chorrito de aceite de oliva salteamos las verduras. A fuego suave incorporamos el zapallo unos 5 minutos. Incorporamos la cebolla y saltemos por 5 minutos más, por último, los champiñones. Condimentamos.</li>
                        <li>Por otro lado, cocemos las espinacas en abundante agua hirviendo con un poco de sal. Sólo un par de minutos, luego las pasamos por agua a temperatura ambiente para que mantengan el color.</li>
                        <li>Montamos la lasaña haciendo capas con las distintas verduras, queso y masa de lasaña.</li>
                        <li>La última capa debe ser de tomate frito. Espolvoreamos orégano seco y un poco de queso rallado.</li>
                        <li>Ponemos al horno precalentado previamente a 180ºC, dejamos cocinar por unos 20 minutos hasta que el queso se gratine.</li>

                        
                        

                    </ol>
                   
                     
                    
                    <p>
                        <a href="@Url.Action("Descargar", new { file = ViewBag.codigoNota})">
                            Descargar PDF
                        </a>
                        
                    </p>
                </div>
                <div class="col-12 col-md-auto sidebar sidebar-nota">
                    <div class="cont-icon-bar">
                        <partial name="~/Views/Biblioteca/_IconBar.cshtml" model="Model" view-data="ViewData" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/splide.min.js"></script>
    <script src="~/js/carrusel.js"></script>
    <script type="module">
        import { init } from '../../js/Paciente/loguso.js?rnd=${@NumeroRandom.GetRandom()}';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>


}
