@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
  <!--INICIO coopeuch-->
    <div class="toma-examenes-coopeuch">
        <h1 class="titulo-toma-examenes">Orientación de Salud</h1>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-auto">
                    <img src="~/img/coopeuch/pantalla-orientacion.svg" alt="Examenes" />
                </div>
                <div class="col-12 col-md cont-mensaje">
                    <h1>
                        Te ayudamos a entender tus coberturas de salud.
                        <small>¡Contáctanos!</small>
                    </h1>

                    <p>
                        Con la ayuda de nuestro Centro de Atención, podrás resolver tus dudas sobre  GES (garantías Explícitas en Salud) y CAEC (Cobertura Adicional para Enfermedades Catastróficas). 
                        Descubre cómo activar estas coberturas y qué enfermedades están cubiertas.
                    </p>
                

                    <p> Contáctanos directamente pinchando acá: </p>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-6 nota-asistencia">
                                <button class="btn btn-primary btn-block" onclick="location.href='tel:228696900'">Llamar</button>
                                <small class="data-asistencia">
                                    Llamarás directamente al <br> 
                                    2 2869 6900
                                </small>
                            </div>
                            <div class="col-12 col-md-6 nota-asistencia">
                                <button class="btn btn-primary btn-block" onclick="location.href='/Paciente/Agendar?tipo=suscripcion&tipoEspecialidad=orientacion'">Video consulta</button>
                                <small class="data-asistencia">&nbsp;</small>
                            </div>
                            @*<div class="col-12 col-md-6 nota-asistencia">
                                <button class="btn btn-primary" onclick="location.href='tel:56948042543'">Whatsapp</button>
                                <small>
                                    Escribirás directamente al
                                    +56 9 5369 4225
                                </small>
                            </div>*@
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
     </div>
     <!--FIN coopeuch-->