
@{
    ViewData["Title"] = "Paciente";
    Layout = "_LayoutPaciente";
}

    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" @ViewBag.SeguroError>
    <div class="cont-cargas">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                   <div class="text-center">
                       <h2>Aún no se encuentra disponible la información de tu seguro contratado.</h2>
                       <a class="btn btn-warning mt-5" href="/">Volver</a>
                   </div>
                </div>
                </div>
            </div>
        </div>
    </div>

