@{
    ViewData["Title"] = "Fila Unica";
    Layout = "_LayoutPaciente";

}
@section Styles  {
    <link href="~/css/Shared/atencion.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />

}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="cont-cargas">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                   <div class="zurich-text-center">
                       <h2>@Html.Raw(ViewBag.MessageZurich)</h2>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
 
    <script>

        var MessageZurich = @ViewBag.MessageZurich;
        window.MessageZurich = MessageZurich;
    </script>
}