<div class="ps-panel-cuestionario">
    <h1>
        Cuestionario de Pittsburg de Calidad de sueño.

    </h1>
    <p>
        <strong>Instrucciones:</strong>
        Las siguientes cuestiones solo tienen que ver con sus hábitos de sueño durante el último
        mes. En sus respuestas debe reflejar cual ha sido su comportamiento durante la mayoría
        de los días y noches del pasado mes. Por favor, conteste a todas las cuestiones.
    </p>

    <div class="stepper-cuestionario-cronico">
        <div class="step-cronico">
            <div class="cont-icono">
                <i class="fa fa-server"></i>
            </div>
            <div class="leyenda-icono">
                CUESTIONARIO
            </div>
        </div>
        <div class="step-cronico">
            <div class="cont-icono">
                <i class="fa fa-server"></i>
            </div>
            <div class="leyenda-icono">
                AGENDAMIENTO
            </div>
        </div>
    </div>

    <!-- Pregunta 1 -->
    <div class="enunciado">
        <h3>1.- Durante el último mes, ¿cuál ha sido, normalmente, su hora de acostarse?</h3>
        <div class="cont-opciones">
            <input type="time" id="appt" name="appt" min="09:00" max="18:00" class="form-control" required>
        </div>
    </div>
    <!-- end Pregunta 1 -->
    <!-- Pregunta 2 -->
    <div class="enunciado">
        <h3>2.- ¿Cuánto tiempo habrá tardado en dormirse, normalmente, las noches del último mes?</h3>
        <div class="cont-opciones">
            <fieldset id="q2">

                <label class="form-check form-check-custom form-check-solid" for="q2">
                    <input type="radio" class="form-check-input" id="" name="q2" value="">
                    Menos de 15 min
                </label>

                <label class="form-check form-check-custom form-check-solid" for="">
                    <input type="radio" class="form-check-input" id="" name="q2" value="">
                    Entre 16-30 min
                </label>

                <label class="form-check form-check-custom form-check-solid" for="">
                    <input type="radio" class="form-check-input" id="" name="q2" value="">
                    Entre 31-60 min
                </label>

                <label class="form-check form-check-custom form-check-solid" for="">
                    <input type="radio" class="form-check-input" id="" name="q2" value="">
                    Más de 60 min
                </label>
            </fieldset>
        </div>
    </div>
    <!-- end Pregunta 2 -->
    <!-- Pregunta 3 -->
    <div class="enunciado">
        <h3>3.- Durante el último mes, ¿a qué hora se ha levantado habitualmente por la mañana?</h3>
        <div class="cont-opciones">
            <input type="time" id="appt" name="appt" min="09:00" max="18:00" class="form-control" required>
        </div>
    </div>
</div>