@using System.Globalization;


<div class="kt-portlet cont-antecedentes-medicos mb-4">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title" metadata="configuracionChangePass">Seleccione Plan</h3>
        </div>
    </div>
    <form id="form_change_pw" class="kt-form kt-form--label-right">
        <div class="kt-portlet__body">
            <div class="kt-section kt-section--first mb-0">
                <div class="kt-section__body">                    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="kt-widget kt-widget--user-profile-1 mb-0">
                                <div class="kt-section__body">
                                    <p class="configuracionAntMedicosInfTexto" metadata="configuracionAntMedicosInf">Seleccione la opcion con la que desa operar:</p>
                                    <div class="row pt-3">
                                        <div class="col-lg-12">
                                            <div class="kt-widget kt-widget--user-profile-1 mb-0 pb-0 antecedentes-medicos">
                                                <div class="form-group">
                                                    <div class="col-12 col-md mb-4 mb-md-0 px-0">
                                                        <label class="form-label font-weight-bold pregunta-antecedente" metadata="configuracionAlergias">¿Alergias?</label>
                                                        <label class="form-check-label mr-4" for="flexRadioDefault1" metadata="configuracionAlergiasSi">
                                                            Si
                                                        </label>
                                                        <input class="form-check-input" type="radio" name="radioAlergia" id="radioAlergia1" value="true" />

                                                        <label class="form-check-label ml-3 mr-4" for="flexRadioDefault2" metadata="configuracionAlergiasNo">
                                                            No
                                                        </label>                                                      
                                                    </div>
                                                </div>                                         
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                                
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="row">
                    
                    <div class="col-12 ml-md-auto col-md-auto text-right">
                        <button type="submit" id="btn_guardar_pw" class="btn btn-success btn-block" metadata="configuracionPassGuardar">Guardar </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>




