@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Biblioteca Digital";
    Layout = "_LayoutPaciente";

}

<section class="container-fluid note-section library featured">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="cont-icons">
                    <div class="icon account-type">
                        <i class="fal fa-heart"></i>
                    </div>
                    <div class="icon">
                        <i class="fal fa-file-alt"></i>
                    </div>
                </div>

                <h1 class="title-section">
                    Mes de la prevención: lo que debes saber del Cáncer de Mama
                </h1>
                <p>
                    María José Oyarzun, Matrona, especialista en Salud sexual y salud reproductiva,
                    con enfoque en derecho, género y diversidad. Cursando Magister en sexología,
                    docente Universidad Andrés Bello.
                </p>

            </div>

        </div>
    </div>
</section>

<section class="container-fluid main note-content">
    <div class="container inner-section">
        <div class="row">
            <div class="col-12 col-md">
                <p>
                    María José Oyarzun, Matrona, especialista en Salud sexual y salud reproductiva,
                    con enfoque en derecho, género y diversidad. Cursando Magister en sexología,
                    docente Universidad Andrés BelloEl cáncer de mama es la principal causa de muerte
                    por cáncer en Chile. Al año, fallecen al año unas mil mujeres por esta causa y,
                    la evolución ha sido tal, que en el país se registran aproximadamente 40 nuevos
                    casos por cada 100 mil mujeres cada doce meses. Lamentablemente, es una patología
                    difícil de prevenir, pero sí es posible disminuir el riesgo e impacto en el cuerpo
                    al detectarla precozmente. De ser así, el pronóstico puede ser bastante positivo
                    en cuanto a tratamiento.
                </p>
                <p>
                    En el marco del webinar con el título de “Lo que debes saber acerca del cáncer de mama”
                    realizado durante el mes de prevención de este cáncer, María José Oyarzún, matrona clínica
                    del equipo de Medismart, indica que existen 3 pilares fundamentales para el abordaje del
                    cáncer de mama: factores de riesgo, factores protectores y el cómo detectarlo.

                </p>
                <p>
                    Dentro de los factores de riesgo, existen aquellos no modificables y los modificables.
                    Los primeros tienen relación con la familia y la genética, por ejemplo:
                </p>

                <ol>
                    <li>
                        Edad: a mayor edad, aumenta el riesgo -sobre todo después de los 50 años. Se recomienda
                        crear el hábito de realizarse el chequeo a partir de cierta edad.
                    </li>
                    <li>
                        Herencia genética:aunque, algo que no todos saben, solo entre un 5% y 10% de todos los
                        cánceres de mama presentan un historial familiar.

                    </li>
                    <li>
                        Antecedentes personales de cáncer de mama: si una mujer ya tuvo este cáncer, presenta más
                        riesgo de desarrollar otro en cualquiera de las mamas
                    </li>
                    <li>
                        Edad o duración del embarazo: las mujeres que tuvieron su primera gestación después de los
                        35 años, o las que nunca gestaron, corren más riesgo de padecer cáncer de mama. Esto sucede
                        porque el embarazo protege contra el cáncer de mama al empujar a las células mamarias hacia
                        la última fase de maduración, y por el equilibrio hormonal que este produce en las mujeres.

                    </li>
                    <li>
                        Menstruación temprana o menopausia tardía: por el contrario de lo mencionado anteriormente,
                        esto implica que han estado en su vida más expuestas a ciclos hormonales variables.
                    </li>
                </ol>
            </div>
            <div class="col-12 col-md-auto sidebar">
                <div class="cont-icon-bar">
                    <div class="icon-bar">
                        <a href="#" class="btn-icon color-blue">
                            <div class="inner-btn bg-blue">
                                <i class="fal fa-file-alt"></i>
                            </div>
                            Notas
                        </a>
                        <a href="#" class="btn-icon color-orange">
                            <div class="inner-btn bg-orange">
                                <i class="fal fa-microphone"></i>
                            </div>
                            Charlas
                        </a>
                        <a href="#" class="btn-icon color-red">
                            <div class="inner-btn bg-red">
                                <i class="fal fa-podium-star"></i>
                            </div>
                            Cápsulas
                        </a>
                    </div>

                </div>

                <div class="cont-cards">
                    <div class="card-library">
                        <div class="card-content">
                            <div class="visits">2.7 k Vistas</div>
                            <div class="body-card-library">
                                <div class="date">24-07-2022</div>
                                <div class="title-card">Covid y el aire acondicionado</div>
                                <div class="desc">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                                        nobis enim temporibus aperiam?
                                    </p>
                                </div>
                                <div class="tags">
                                    <div class="tag">Salud</div>
                                    <div class="tag">Charla</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-library">
                        <div class="card-content">
                            <div class="visits">2.7 k Vistas</div>
                            <div class="body-card-library">
                                <div class="date">24-07-2022</div>
                                <div class="title-card">Covid y el aire acondicionado</div>
                                <div class="desc">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                                        nobis enim temporibus aperiam?
                                    </p>
                                </div>
                                <div class="tags">
                                    <div class="tag">Salud</div>
                                    <div class="tag">Charla</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</section>



@section Scripts {
    <script src="~/js/splide.min.js"></script>
    <script src="~/js/carrusel.js"></script>

}
