
<div class="toma-examenes-cardif">
    <h1 class="titulo-toma-examenes">Orientación de Salud</h1>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-auto">
                <div class="cont-ilustracion_cda"></div>
            </div>
            <div class="col-12 col-md cont-mensaje">
                <h1>
                    <img src="~/img/scotiabank/farmacia/logo-salcobrand.png" width="70px" alt="Farmacia" />
                    Cuida de ti y tu familia con estos descuentos en Farmacias Salcobrand:
                    <small>¡Contáctanos!</small>
                </h1>                

               <table class="tabla-valores-sb" >
	                <tbody>
	                <tr>
		                <td>Medicamentos genéricos: <span class="pull-right"><b>50%</b></span></td>
	                </tr>
	                <tr>
		                <td>Medicamentos de marca internacional y nacional: <span class="pull-right"><b>15%</b></span></td>
	                </tr>
	                </tbody>
                </table>
                <br />
                <div class="id_farmacia">
                    <h2> ¿Cómo funciona?</h2>
                    <p>
                        Este beneficio se aplica después
                        del descuento que ya tienes por
                        ser parte de Caja Los Andes. Por
                        lo tanto, pagarás mucho menos
                        por tus medicamentos.
                    </p>
                </div>
                 <div class="id_farmacia">
                    <h2>Por ejemplo:</h2>
                    <p>
                        Si compras un medicamento
                        genérico que cuesta originalmente
                        $10.000, se aplicará el descuento
                        del 40% que tienes por ser
                        afiliado/a. Por lo tanto, tendrías
                        que pagar $6.000.
                        <strong>Con +Protección, se aplicará un
                        50% de descuento a ese precio,
                            por lo tanto, pagaras solo $3.000.
                        </strong>
                    </p>
                </div>
                <p>
                    <b>
                        Para acceder a este beneficio, sólo debes dictar el RUT del/a asegurado titular y mostrar la receta médica* en cualquier sucursal de farmacia Salcobrand.
                    </b>
                </p>
                <div class="id_farmacia">
                    <p>
                        *: El descuento aplica sólo con receta médica vigente (hasta 30 días desde la fecha de emisión).
                    </p>
                </div>
                
 @*               <div class="container-fluid toolbar-farmacia">
                    <div class="row">
                        <div class="col-12 col-md-6 nota-asistencia" >
                            <button class="btn btn-primary" onclick="window.open('@ViewBag.Urls[0]')">CREA TU USUARIO Y CONTRASEÑA</button>
                            <small class="data-asistencia">
                                Si no te has registrado en Salcobrand.cl, <b>solicita aquí tu usuario y contraseña:</b>
                            </small>
                        </div>
                         <div class="col-12 col-md-6 nota-asistencia" >
                            <button class="btn btn-primary" onclick="window.open('@ViewBag.Urls[1]')">ACTIVA TUS BENEFICIOS</button>
                            <small class="data-asistencia">
                               Si ya tienes cuenta en Salcobrand.cl, <b>activa acá tu beneficio.</b>
                            </small>
                        </div>

                    </div>
                </div>*@
            </div>
            
        </div>
    </div>
</div>