
<div class="toma-examenes-cardif">
    <h1 class="titulo-toma-examenes">Orientación de Salud</h1>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-auto">
                <div class="cont-ilustracion">

                </div>
                <img src="~/img/coopeuch/pantalla-orientacion.svg" alt="Examenes" />
            </div>
            <div class="col-12 col-md cont-mensaje">
                <h1>
                    <img src="~/img/scotiabank/farmacia/logo-salcobrand.png" width="70px" alt="Examenes" />
                    Cuida de ti y tu familia con estos descuentos en Farmacias Salcobrand:
                    <small>¡Contáctanos!</small>
                </h1>                

               <table class="tabla-valores-sb" >
	                <tbody>
	                <tr>
		                <td>Medicamentos genéricos: <span class="pull-right"><b>40%</b></span></td>
	                </tr>
	                <tr>
		                <td>Medicamentos de marca internacional y nacional: <span class="pull-right"><b>12%</b></span></td>
	                </tr>
	                <tr>
		                <td>Vitaminas y minerales "Vitamin Life" &nbsp; <span class="pull-right"><b>15%</b></span></td>
	                </tr>
	                <tr >
		                <td >Perfumería, belleza e higiene <span class="pull-right"><b>7%</b></span></td>
	                </tr>
	                </tbody>
                </table>
                <br />
                <p><b>Para acceder a este beneficio, debes activarlo acá antes de usarlo. Esta activación debes realizarla solo una vez:</b></p>
                
                <div class="container-fluid toolbar-farmacia">
                    <div class="row">
                        <div class="col-12 col-md-6 nota-asistencia" >
                            <button class="btn btn-primary" onclick="window.open('@ViewBag.Urls[0]')">CREA TU USUARIO Y CONTRASEÑA</button>
                            <small class="data-asistencia">
                                Si no te has registrado en Salcobrand.cl, <b>solicita aquí tu usuario y contraseña:</b>
                            </small>
                        </div>
                         <div class="col-12 col-md-6 nota-asistencia" >
                            <button class="btn btn-primary" onclick="window.open('@ViewBag.Urls[1]')">ACTIVA TUS BENEFICIOS</button>
                            <small class="data-asistencia">
                               Si ya tienes cuenta en Salcobrand.cl, <b>activa acá tu beneficio.</b>
                            </small>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>