@model IEnumerable<TeleperitajeViewModel> 
@{
    ViewData["Title"] = "Teleperitaje";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

@section PageStyles  {
    <link href="~/metronic_demo7/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
}

@section Styles  {
    <link href="~/css/Home/index.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    <style>
        /*#tableProximasAtenciones .kt-datatable__cell > span{
            width:150px !important;
        }*/

    </style>
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    @*<div class="alert alert-light alert-elevate" role="alert">
            <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
            <div class="alert-text">
                Datatable initialized from remote JSON source with local(frontend) pagination, column order and search support.
            </div>
        </div>*@
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-user"></i>
                </span>
                <h3 class="kt-portlet__head-title ml-4">
                    Teleperitaje masivo
                </h3>
                

            </div>
            <div class="kt-portlet__head-label">
                <a asp-controller="Admin" asp-action="InformeAtenciones" class=" float-right" style="float: right;">
                    <i class="kt-menu__link-icon flaticon-calendar-with-a-clock-time-tools"></i>
                    Informes teleperitaje
                </a>
            </div>

        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-6 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row align-items-center ">
                            <div class="col-md-10 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    
                                    <form method="post" enctype="multipart/form-data">
                                       <div class="row align-items-center mt-4">

                                           <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                                <div class="kt-form__group ">
                                                    <div class="kt-form__label">
                                                        <label>Seleccione Convenio: </label>
                                                    </div>
                                                    <div class="kt-form__control">
                                                        <div class="input-group">
                                                            @Html.DropDownList("convenio", new SelectList(ViewBag.Convenios, "Value", "Text"))
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                                <div class="kt-form__group ">
                                                    <div class="kt-form__label">
                                                        <label>Seleccione Zona Horaria: </label>
                                                    </div>
                                                    <div class="kt-form__control">
                                                        <div class="input-group">
                                                            @Html.DropDownList("zonahoraria", new SelectList(ViewBag.ZonasHorarias, "Value", "Text"))
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                                <div class="kt-form__group kt-form__group--inline">
                                                    <div class="kt-form__control">
                                                        <div class="input-group">
                                                            <input type="file" id="excelFile" name="file"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                             <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                                <div class="kt-form__group kt-form__group--inline">
                                                    <div class="kt-form__control">
                                                        <div class="input-group">
                                                            <a href="~/teleperitaje/archivo_ejemplo.xlsx" download="archivo-ejemplo">
                                                                <button class="btn btn-success" type="button">Descargar archivo ejemplo</button> 
                                                             </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                           <div class="col-12">
                                                <hr />
                                               <button class="btn btn-brand btn-elevate btn-icon-sm"  id="uploadExcel" type="submit">Subir archivo</button>
                                           </div>
                                       </div>
                                    </form>
                                </div>                    
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />
            <br />
            <div id="tableMasivo" hidden>
                <div class="row" >
                    <div class="col-md-7">
                        <div class="input-group mb-3">
                            <input id="generalSearch" type="text" class="form-control form-control" placeholder="Buscar en tabla resultados">
                    
                        </div>
                        
                    </div>
                </div>
                
                <br />
                <br />
                <div class="kt-portlet__body kt-portlet__body--fit">

                    <!--begin: Datatable -->
                    <div class="kt-datatable" name="kt-datatable" id="json_data"></div>

                    <!--end: Datatable -->
                </div>

                <button class="btn btn-info btn-elevate btn-icon-sm float-right" id="downloadAsExcel">Descargar resultados</button>
            </div>

        </div>


        
    </div>

</div>


<!-- end:: Page -->
<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>

<!--<button onclick="playAudio()" type="button">Play Audio</button>
<button onclick="pauseAudio()" type="button">Pause Audio</button>-->

<audio id="myAudio">
    <source src="~/metronic_demo7/assets/media/demo/sonido.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

@section PageScripts {
    <script src="~/metronic_demo7/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js?rnd=@NumeroRandom.GetRandom()" type="text/javascript"></script>
    <script src="~/signal/signalr.min.js"></script>
    
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script>
        var x = document.getElementById("myAudio");

        function playAudio() {
            x.play();
        }

        function pauseAudio() {
            x.pause();
        }
    </script>
    <script type="module">
        import { init } from '../../js/Admin/Teleperitaje.js?rnd=@NumeroRandom.GetRandom()';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>
    <script type="text/javascript">
        (function () {
            var uid = @ViewBag.uid;

            window.uid = uid;
        })()
    </script>
    @*<script src="~/js/Paciente/index.js?rnd=@NumeroRandom.GetRandom()" type="module"></script>*@
}

