@using Microsoft.Extensions.Configuration
@model WebMVC.Models.PersonasDatosLaboral
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Configuracion";
    Layout = "_LayoutPaciente";

}


@{
    ViewData["idEntidad"] = ViewBag.uid;
    ViewData["codEntidad"] = Entidades.FOTO_PERFIL;
    ViewData["uid"] = int.Parse(ViewBag.uid);
}
@{
    ViewData["view"] = Roles.Paciente;
}

@section Styles  {
    <link href="~/css/Shared/atencion.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
    <link href="~/css/Mexico/mexico.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
     @if(ViewBag.HostURL.ToString().Contains("vidasecurity.") ){
         <link href="~/css/vidasecurity/vidasecurity.css?rnd=@NumeroRandom.GetRandom()" rel="stylesheet" type="text/css" />
     }
    
}



<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid configuracion-paciente">

@*        <!-- Spinner -->
        <div id="loaderNom35" hidden="hidden" class="d-flex justify-content-center bakg_loading"><div class="spinner-border" role="status"><span class="sr-only">Un momento por favor...</span></div></div>
        <!-- Spinner -->*@

    <div id="loaderNom35">
    </div>
   
        <div class="form_nom035 form_medicina-ocupacional">
        <h2>Registro Trabajador</h2>
            <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
                <div class="col-lg-12 px-0 px-md-2">
                    <partial name="~/Views/Shared/_DatosLaboralesPaciente.cshtml" model="Model" view-data="ViewData" />
                </div>
            </div>
        </div>
    
</div>


@section Scripts {
    <script src="~/js/Usuario/config.js?9rnd=@NumeroRandom.GetRandom()" type="module"></script>
    <script type="module">
        import { init } from '../../js/Cuestionario/PacienteDatosLaboral.js?rnd=@NumeroRandom.GetRandom()';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>
    <script type="text/javascript">
        (function () {

            var uid = @ViewBag.uid;

            window.uid = uid;
             var idCliente = '@ViewBag.idCliente';
            window.idCliente = idCliente;
            window.host = '@ViewBag.HostURL';

        })()
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    
}

