@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Biblioteca Digital";
    Layout = "_LayoutPaciente";

}

<div class="fade-in note">
    <section class="container-fluid note-section library featured" id="nota3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="cont-titulo-receta">
                        <div class="cont-logo">
                            <img src="~/img/cencosud/vida-sana/compotadepera.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="container-fluid main note-content">
        <div class="container inner-section">
            <div class="row">
                <div class="col-12 col-md">
                    <h2 class="subtitulo-receta">
                        Ingredientes:
                    </h2>

                    <ol>

                        <li>2 tazas de agua. </li>
                        <li>1 kg peras en mitades.</li>
                        <li>3 ramas de canela. </li>
                        <li>3 clavos de olor.</li>


                    </ol>

                    <h2 class="subtitulo-receta">
                        Preparación
                    </h2>
                    <ol>


                        <li>Calienta el agua hasta que hierva. Incorpora las peras y las especias. </li>
                        <li>Continúa la cocción por 15 minutos o hasta que las peras estén tiernas. </li>
                        <li>Sirve en un pocillo con el agua de cocción.</li>



                    </ol>

                    <p>
                        <a href="@Url.Action("DescargarCenco", new { file = ViewBag.codigoNota})">
                            Descargar receta
                        </a>

                    </p>
                </div>
                <div class="col-12 col-md-auto sidebar sidebar-nota">
                    <div class="cont-icon-bar">
                        <partial name="~/Views/Biblioteca/_IconBar.cshtml" model="Model" view-data="ViewData" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/splide.min.js"></script>
    <script src="~/js/carrusel.js"></script>
    <script type="module">
        import { init } from '../../js/Paciente/loguso.js?rnd=${@NumeroRandom.GetRandom()}';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>


}
