@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Biblioteca Digital";
    Layout = "_LayoutPaciente";

}

<div class="fade-in note">
    <section class="container-fluid note-section library featured" id="nota3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="cont-titulo-receta">
                        <div class="cont-logo">
                            <img src="~/img/cencosud/vida-sana/panquequesdeespinacaconpollo.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  

    <section class="container-fluid main note-content">
        <div class="container inner-section">
            <div class="row">
                <div class="col-12 col-md">
                    <h2 class="subtitulo-receta">
                        Ingredientes:
                    </h2>

                    <ol>
                        <li>2 huevos</li>
                        <li>500 grs de harina sin polvos</li>
                        <li>750 ml de leche descremada </li>
                        <li>200 grs de espinaca </li>
                        <li>400 grs de pechuga de pollo </li>
                        <li>200 grs de crema baja en grasa </li>
                        <li>Pimentón, ajo, sal y aliños a gusto</li>
                        <li>Aceite</li>
                    </ol>
                    
                    <h2 class="subtitulo-receta">
                        Preparación
                    </h2>
                    <ol>
                        <li>Para el relleno: cortamos el pollo en cubos regulares, en un sartén previamente calentado con 1 cdta de aceite, agregamos el pollo y los ingredientes para condimentar (pimentón, ajo, cebolla, etc.), salpimentamos y cocinamos por 8 minutos. Incorporamos la crema y dejamos cocinar a fuego bajo por un par de minutos. En un bowl poner los huevos, leche, sal, aceite y polvos de hornear. Batir con batidora eléctrica.</li>
                        <li>Para la masa de panqueques: en la juguera agregamos huevos, harina, leche y espinaca hasta obtener una mezcla homogénea. Incorporar el zapallo italiano y mezclar bien.</li>
                        <li>En un sartén enaceitado, verter ½ cucharon de la mezcla, cocinar hasta que los bordes estén dorados y voltear. Repetir con toda la mezcla.</li>
                        <li>Rellenar los panqueques con el pollo y servir.</li>
                    </ol>

                    <p>
                        <a href="@Url.Action("DescargarCenco", new { file = ViewBag.codigoNota})">
                            Descargar receta
                        </a>
                        
                    </p>
                </div>
                <div class="col-12 col-md-auto sidebar sidebar-nota">
                    <div class="cont-icon-bar">
                        <partial name="~/Views/Biblioteca/_IconBar.cshtml" model="Model" view-data="ViewData" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/splide.min.js"></script>
    <script src="~/js/carrusel.js"></script>
    <script type="module">
        import { init } from '../../js/Paciente/loguso.js?rnd=${@NumeroRandom.GetRandom()}';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>


}

