/*siigo*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap');

:root {
    --primary: #44B0FB;
    --secondary: #F0A04A;
    --tertiary: #77797C;
    --accent: #F38F18;
    --light: #FFF;
    --font-family: 'Mulish', sans-serif;
    --font-family-2: 'Rubik', sans-serif;
}

body {
    /* font-family: var(--font-family) !important;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family) !important;
}
/*Login*/
.logotipo-desktop {
    background-image: url(../../img/siigo/logotipo.svg);
    background-size: contain;
    height: 152px;
}

.logotipo-mobile {
    background-image: url(../../img/siigo/logotipo.svg);
}


.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container {
    margin-top: 15% !important;
}

    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__title {
        color: var(--primary);
        font-weight: 400 !important;
        font-size: 36px;
    }

.form-group .ms-label {
    color: var(--primary) !important;
    font-size: 16px;
    font-weight: 700 !important;
}
#kt_login_forgot {
    color: var(--primary);
    font-size: 16px;
    font-weight: 400;
}


.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.kt-login__divider,
.logo-convenios {
    display: none;
}


.divider-medismart {
    display: flex !important;
    margin-bottom: 2rem;
}

.logo-convenios {
    /* display: none;*/
    margin-bottom: 2rem;
}

/* Imágenes Login */
.img1 {
    background-image: url(../../img/siigo/login/960x978.jpg);
}

.img2 {
    background-image: url(../../img/siigo/login/960x978.jpg);
}

.img3 {
    background-image: url(../../img/siigo/login/960x978.jpg);
}

.img4 {
    background-image: url(../../img/siigo/login/960x978.jpg);
}

.img5 {
    background-image: url(../../img/siigo/login/960x978.jpg);
}

.img6 {
    background-image: url(../../img/siigo/login/960x978.jpg);
}

/*Home*/

.body-home {
    background: #fff;
}
    .body-home .logo-home {
        background-color: var(--primary);
    }

    .body-home .logo-home img {
        width: 130px;
    }

    .body-home .cont-card .card {
        background-color: var(--primary);
    }

    .top-banner .legend {
        font-weight: 500;
    }

.body-home .cont-card h1 {
    color: var(--primary);
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    font-weight: 700;
}

    .body-home .cont-card h1 small {
        display: none !important;
    }

.body-home .leyenda-card-home {
    color: #fff;
}


.body-home .card-plan .costo { display: none;}

.body-home .card-plan .costo, .body-home .card-plan .pronto-card, .body-home .card-plan .preferente {
    background-color: var(--secondary);
    color: var(--light);
}

.body-home .footer-home, .body-home .footer-home .terminos a {
    color: var(--primary) !important;
}

.body-home .powered, .body-home .powered strong {
    color: #44b0fb;
}

.menu-top .label-menu-pac

.menu-top .item-menu-top i,
.menu-top .label-menu,
.menu-top .label-menu-pac {
    color: var(--primary);
}

.menu-top .item-menu-top:hover i,
.menu-top .item-menu-top:hover .label-menu,
.menu-top .item-menu-top:hover .label-menu-pac {
    color: var(--accent) !important;
}
.kt-menu__item a, .kt-menu__item i {
    color: var(--primary)
}

    .kt-menu__item a .ms-label-menu {
        color: var(--tertiary)
    }

    .kt-menu__item:hover a, .kt-menu__item:hover i {
        color: var(--secondary) !important;
    }

.accesible-btn button {
    color: var(--tertiary);
    border: 1px solid var(--primary);
}

    .accesible-btn button:hover {
        background-color: var(--primary);
        border-color: var(--primary)
    }

.busqueda-profesionales {
    border: 2px solid var(--secondary);
}
    .busqueda-profesionales i {
        color: var(--secondary)
    }
    .busqueda-profesionales .btn-outline-primary {
        color: var(--secondary)
    }

.caja-especialidad.active {
    background-color: var(--primary);
}

.caja-especialidad {
    background-color: var(--secondary);
}

.inner-especialidad strong {
    color: var(--light)
}

.step.active .step-icon {
    background-color: var(--primary);
}

.stepper {
    background-image: url(../../img/siigo/fondo-banner2.svg);
}

    .stepper .flecha {
        color: var(--primary)
    }

    .stepper img {
        border-color: var(--primary)
    }

.step.active .label-step {
    color: var(--primary)
}

.mensaje-superior {
    color: var(--secondary)
}

.caja-profesional .titulo-profesional,
.nombre-profesional {
    color: var(--tertiary)
}

.caja-profesional .fecha-atencion {
    color: var(--secondary)
}

.front-fecha-atencion {
    border: 1px solid rgba(35,33, 114, .3)
}

    .front-fecha-atencion strong:before {
        color: var(--secondary);
        font-weight: 900;
    }

.especialidad-profesional {
    color: var(--tertiary)
}
.carga-archivos h3 {
    color: var(--tertiary)
}

.mensaje-confirmacion strong {
    color: var(--secondary)
}

.titulo-seccion {
    color: var(--secondary)
}

.top-banner {
    background-image: url(../../img/siigo/fondo-banner.svg);
}
    .top-banner img {
        border-color: rgba(255, 255, 255, .3)
    }
.body-home .top-banner .legend {
    color: var(--primary);
    font-family: var(--font-family-2) !important;
    font-size: 36px;
    font-weight: bold;
}

.banner_topsc .legend .text-warning {
    color: var(--accent) !important;
}

.top-banner.banner_topsc {
    background-image: url(../../img/siigo/fondo-banner2.svg);
}

.text-warning {
    color: var(--accent) !important;
}

.powered {
    display: none;
}

.menu-top .item-menu-top .logotipo-mobile {
    width: 110px !important;
}

/*Sala espera*/
.hotspot-icon .cont-icon {
    background-color: var(--light) !important;
    color: var(--primary) !important;
}

.hotspot-icon:hover .cont-icon {
    background-color: var(--accent) !important;
    color: var(--light) !important;
}

.cont-icon.hotspot-redes {
    background-color: #000;
}

#reporte .cont-icon {
    background-color: var(--primary);
}

#hs-g .cont-icon {
    background-color: var(--secondary);
}

#hs-g:hover .cont-icon {
    background-color: var(--primary);
}

.toolbar-option {
    color: var(--primary)
}

.toolbar-option.active {
    color: var(--secondary)
}

.sala-espera-mobile .btn-sala .cont-icon {
    background-color: var(--tertiary)
}

.btn-sala:hover .cont-icon {
    background-color: var(--secondary)
}

.btn-sala:hover {
    color: var(--secondary);
}

.cont-btn-panel .btn-atencion, .cont-btn-vc .btn-atencion {
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

    .cont-btn-panel .btn-atencion:hover, .cont-btn-vc .btn-atencion:hover {
        background-color: rgba(237, 110, 0, 0.1);
        color: var(--primary);
    }

.hotspot-icon {
    text-shadow: 2px 2px 4px #000000;
}

    .hotspot-icon i {
        text-shadow: none;
    }

    .hotspot-icon:hover {
        color: #FFF;
    }

.alerta-sala {
    background-color: var(--accent);
}

@media (max-width: 668px) {

    .body-home .cont-card .card img {
        width: 50px;
        height: 50px; 
    }

    .card.caja-profesional {
        margin-top: 20px;
    }

    .stepper {
        background-image: none;
        margin-top: 4rem;
    }

    .body-home .top-banner .legend {
        font-size: 18px !important;
    }
}

@media (max-width: 991.98px) {
    .top-banner .legend {
        text-align: left;
        font-size: 22px !important;
    }
}


 @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .img1 {
        background-image: url(../../img/siigo/login/548x850.jpg);
    }

    .img2 {
        background-image: url(../../img/siigo/login/548x850.jpg);
    }

    .img3 {
        background-image: url(../../img/siigo/login/548x850.jpg);
    }

    .img4 {
        background-image: url(../../img/siigo/login/548x850.jpg);
    }

    .img5 {
        background-image: url(../../img/siigo/login/548x850.jpg);
    }

    .img6 {
        background-image: url(../../img/siigo/login/548x850.jpg);
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {

    .img1 {
        background-image: url(../../img/siigo/login/960x978.jpg);
    }

    .img2 {
        background-image: url(../../img/siigo/login/960x978.jpg);
    }

    .img3 {
        background-image: url(../../img/siigo/login/960x978.jpg);
    }

    .img4 {
        background-image: url(../../img/siigo/login/960x978.jpg);
    }

    .img5 {
        background-image: url(../../img/siigo/login/960x978.jpg);
    }

    .img6 {
        background-image: url(../../img/siigo/login/960x978.jpg);
    }

    .body-home .top-banner .legend {
        font-size: 30px;

    }
}


/*Pre-home*/

.prehome__plans {
    height: 450px;
}

.prehome__plan {
    width: 100%;
    padding: 0;
}

.prehome__plan ul {
    list-style-image: url('../../img/siigo/bullet.svg');
   
    margin-top: 32px;
    height: 350px;
    font-size: 16px;
}

.prehome__title {
    color: #FFF;
}

.kt-login__extra.registro {
    display: none;
}

.logo-convenios.convenioChile + hr {
    display: none;
}

.kt-login.kt-login--v3.kt-login--signin .kt-login__signin .titulo-card-farmacia {
    text-align: center;
}

@media (max-width: 991.98px) {
    .prehome__plans {
        height: auto;
    }
}