<div class="cont-cards">



    <a asp-controller="Biblioteca" asp-action="Capsula1" class="card-library featured capsula-thumb-1  js-filterable"  data-tema="3">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">Cuidados COVID-19</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Capsula</div>
                </div>
            </div>
        </div>

    </a>


    <a asp-controller="Biblioteca" asp-action="Capsula3" class="card-library capsula-thumb-3  js-filterable"  data-tema="5">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">Salud mental en adultos mayores</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Capsula</div>
                </div>
            </div>
        </div>

    </a>


    <a asp-controller="Biblioteca" asp-action="Capsula4" class="card-library capsula-thumb-4  js-filterable"  data-tema="6">
        

        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">Telemedicina</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Capsula</div>
                </div>
            </div>
        </div>

    </a>


    <a asp-controller="Biblioteca" asp-action="Capsula5" class="card-library capsula-thumb-5  js-filterable"  data-tema="3">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">Hipertensi&oacute;n</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Capsula</div>
                </div>
            </div>
        </div>

    </a>

    <a asp-controller="Biblioteca" asp-action="Capsula6" class="card-library capsula-thumb-6  js-filterable"  data-tema="3">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">Chequeo Preventivo</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Capsula</div>
                </div>
            </div>
        </div>

    </a>

    <a asp-controller="Biblioteca" asp-action="Capsula7" class="card-library capsula-thumb-7  js-filterable"  data-tema="7">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">
                    Alimentaci&oacute;n Saludable
                </div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Capsula</div>
                </div>
            </div>
        </div>

    </a>

    <a asp-controller="Biblioteca" asp-action="Capsula8" class="card-library capsula-thumb-8  js-filterable"  data-tema="7">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">Etiquetas Nutricionales</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Capsula</div>
                </div>
            </div>
        </div>

    </a>

    <a asp-controller="Biblioteca" asp-action="Capsula9" class="card-library capsula-thumb-9  js-filterable"  data-tema="1">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">Higiene del Sue&ntilde;o</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Capsula</div>
                </div>
            </div>
        </div>

    </a>

    <a asp-controller="Biblioteca" asp-action="Capsula10" class="card-library capsula-thumb-10  js-filterable"  data-tema="1">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">
                    Cuidado de la Salud Mental
                </div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Capsula</div>
                </div>
            </div>
        </div>

    </a>

    <a asp-controller="Biblioteca" asp-action="Capsula11" class="card-library capsula-thumb-11  js-filterable"  data-tema="1">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">Estr&eacute;s</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Capsula</div>
                </div>
            </div>
        </div>

    </a>

    <a asp-controller="Biblioteca" asp-action="Capsula12" class="card-library capsula-thumb-12  js-filterable"  data-tema="1">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">Salud Mental en Adolescentes</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Capsula</div>
                </div>
            </div>
        </div>

    </a>

    <a asp-controller="Biblioteca" asp-action="Capsula2" class="card-library capsula-thumb-2  js-filterable"  data-tema="6">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">
                    Cuadros Al&eacute;rgicos
                </div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Capsula</div>
                </div>
            </div>
        </div>

    </a>

</div>