<div class="cont-cards">

    <a asp-controller="Biblioteca" asp-action="Nota11" class="card-library featured nota-thumb-11 js-filterable" data-tema="1">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">02-09-2024</div>
                <div class="title-card">El camino a la salud:<br />Guía práctica de bienestar</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Nota</div>
                </div>
            </div>
        </div>

    </a>
    <a asp-controller="Biblioteca" asp-action="Nota10" class="card-library featured nota-thumb-10 js-filterable" data-tema="1">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">16-10-2023</div>
                <div class="title-card">Prevenci&oacute;n del C&aacute;ncer de Cuello Uterino:<br /> Vacunas y Citolog&iacute;as</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Nota</div>
                </div>
            </div>
        </div>

    </a>

    <a asp-controller="Biblioteca" asp-action="Nota9" class="card-library featured nota-thumb-9 js-filterable" data-tema="1">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">16-10-2023</div>
                <div class="title-card">Nutrici&oacute;n en la vida real: C&oacute;mo tu d&iacute;a a d&iacute;a moldea tu dieta</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Nota</div>
                </div>
            </div>
        </div>

    </a>

    <a asp-controller="Biblioteca" asp-action="Nota8" class="card-library featured nota-thumb-8 js-filterable" data-tema="1">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">10-10-2023</div>
                <div class="title-card">La Detecci&oacute;n Temprana en el C&aacute;ncer de Mama: Tu Escudo Protector</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Nota</div>
                </div>
            </div>
        </div>

    </a>

    <a asp-controller="Biblioteca" asp-action="Nota7" class="card-library featured nota-thumb-7 js-filterable" data-tema="1">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">10-10-2023</div>
                <div class="title-card">Cuidando tu Salud Mental: La Revoluci&oacute;n Tecnol&oacute;gica en el Bienestar Emocional</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Nota</div>
                </div>
            </div>
        </div>

    </a>

    


    <a asp-controller="Biblioteca" asp-action="Nota1" class="card-library featured nota-thumb-1 js-filterable"  data-tema="2">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">Reanimaci&oacute;n cardio pulmonar</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Nota</div>
                </div>
            </div>
        </div>

    </a>

    <a asp-controller="Biblioteca" asp-action="Nota2" class="card-library nota-thumb-2 js-filterable" data-tema="4">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">Beneficios del autoexamen mamario</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Nota</div>
                </div>
            </div>
        </div>

    </a>


    <a asp-controller="Biblioteca" asp-action="Nota3" class="card-library nota-thumb-3 js-filterable" data-tema="2">


        <div class="card-content">
            <div class="visits">2.7 k Vistas</div>
            <div>
                <div class="date">24-07-2022</div>
                <div class="title-card">Accidentes en el hogar</div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                        dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                        nobis enim temporibus aperiam?
                    </p>
                </div>
                <div class="tags">
                    <div class="tag">Salud</div>
                    <div class="tag">Nota</div>
                </div>
            </div>
        </div>

    </a>


    <a asp-controller="Biblioteca" asp-action="Nota4" class="js-filterable" data-tema="6">
        <div class="card-library nota-thumb nota-thumb-4">
            <div class="card-content">
                <div class="visits">2.7 k Vistas</div>
                <div class="body-card-library">
                    <div class="date">24-07-2022</div>
                    <div class="title-card">&iexcl;Hidrataci&oacute;n! En verano es clave</div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                            dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                            nobis enim temporibus aperiam?
                        </p>
                    </div>
                    <div class="tags">
                        <div class="tag">Salud</div>
                        <div class="tag">Nota</div>
                    </div>
                </div>
            </div>

        </div>
    </a>

    <a asp-controller="Biblioteca" asp-action="Nota5" class="js-filterable" data-tema="4">
        <div class="card-library nota-thumb nota-thumb-5">
            <div class="card-content">
                <div class="visits">2.7 k Vistas</div>
                <div class="body-card-library">
                    <div class="date">24-07-2022</div>
                    <div class="title-card">C&aacute;ncer de mama</div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                            dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                            nobis enim temporibus aperiam?
                        </p>
                    </div>
                    <div class="tags">
                        <div class="tag">Salud</div>
                        <div class="tag">Nota</div>
                    </div>
                </div>
            </div>

        </div>
    </a>

    <a asp-controller="Biblioteca" asp-action="Nota6" class="js-filterable" data-tema="6">
        <div class="card-library nota-thumb nota-thumb-6">
            <div class="card-content">
                <div class="visits">2.7 k Vistas</div>
                <div class="body-card-library">
                    <div class="date">24-07-2022</div>
                    <div class="title-card">Beneficios de la telemedicina</div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                            dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                            nobis enim temporibus aperiam?
                        </p>
                    </div>
                    <div class="tags">
                        <div class="tag">Salud</div>
                        <div class="tag">Nota</div>
                    </div>
                </div>
            </div>

        </div>
    </a>

    


</div>