<div class="cont-cards">
    <a asp-controller="Biblioteca" asp-action="Nota1">
        <div class="card-library nota-thumb nota-thumb-1">
            <div class="card-content">
                <div class="visits">2.7 k Vistas</div>
                <div class="body-card-library">
                    <div class="date">24-07-2022</div>
                    <div class="title-card">Aprende reanimaci&oacute;n cardio pulmonar</div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                            dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                            nobis enim temporibus aperiam?
                        </p>
                    </div>
                    <div class="tags">
                        <div class="tag">Salud</div>
                        <div class="tag">Nota</div>
                    </div>
                </div>
            </div>

        </div>
    </a>
    <a asp-controller="Biblioteca" asp-action="Nota2">
        <div class="card-library nota-thumb nota-thumb-2">
            <div class="card-content">
                <div class="visits">2.7 k Vistas</div>
                <div class="body-card-library">
                    <div class="date">24-07-2022</div>
                    <div class="title-card">Beneficios del autoexamen mamario</div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                            dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                            nobis enim temporibus aperiam?
                        </p>
                    </div>
                    <div class="tags">
                        <div class="tag">Salud</div>
                        <div class="tag">Nota</div>
                    </div>
                </div>
            </div>

        </div>
    </a>

    <a asp-controller="Biblioteca" asp-action="Nota3">
        <div class="card-library nota-thumb nota-thumb-3">
            <div class="card-content">
                <div class="visits">2.7 k Vistas</div>
                <div class="body-card-library">
                    <div class="date">24-07-2022</div>
                    <div class="title-card">Accidentes en el hogar</div>
                    <div class="desc">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Fugiat sit accusamus sint sapiente qui quasi perspiciatis repudiandae,
                            dolorem blanditiis culpa nesciunt consequuntur aliquam iusto modi corrupti,
                            nobis enim temporibus aperiam?
                        </p>
                    </div>
                    <div class="tags">
                        <div class="tag">Salud</div>
                        <div class="tag">Nota</div>
                    </div>
                </div>
            </div>

        </div>
    </a>


</div>