<div class="cont-icon-bar">
    <div class="icon-bar">
        <a asp-controller="Biblioteca" asp-action="Index" class="btn-icon color-library">
            <div class="inner-btn bg-library">
                <i class="fal fa-books"></i>
            </div>
            Inicio
        </a>
        <a asp-controller="Biblioteca" asp-action="Notas" class="btn-icon color-blue active">
            <div class="inner-btn bg-blue">
                <i class="fal fa-file-alt"></i>
            </div>
            Notas
        </a>
        <a asp-controller="Biblioteca" asp-action="Charlas" class="btn-icon color-orange">
            <div class="inner-btn bg-orange">
                <i class="fal fa-microphone"></i>
            </div>
            Charlas
        </a>
        <a asp-controller="Biblioteca" asp-action="Capsulas" class="btn-icon color-red">
            <div class="inner-btn bg-red">
                <i class="fal fa-podium-star"></i>
            </div>
            Cápsulas
        </a>
    </div>

</div>