@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Biblioteca Digital";
    Layout = "_LayoutPaciente";

}

<div class="fade-in note">

    <section class="container-fluid note-section library featured" id="nota3">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <div class="cont-icons">
                        <div class="icon account-type">
                            <i class="fal fa-heart"></i>
                        </div>
                        <div class="icon">
                            <i class="fal fa-file-alt"></i>
                        </div>
                    </div>

                    <h1 class="title-section">
                        Accidentes en el hogar: Aprende a realizar los primeros auxilios
                    </h1>
                    <p>
                        Valeska González, enfermera egresada de Universidad Diego Portales, instructora y miembro de la sociedad AHA (American Heart Association).

                    </p>

                </div>

            </div>
        </div>
    </section>

    <section class="container-fluid main note-content">
        <div class="container inner-section">
            <div class="row">
                <div class="col-12 col-md">
                    <p>
                        Son varios los accidentes que pueden ocurrir en la cotidianidad: quemarse con agua caliente, dejar una sustancia peligrosa al alcance de los niños,
                        un mal manejo de extensiones eléctricas, caídas, y más; y es importante saber qué hacer frente a estos casos para evitar que una emergencia llegue a
                        mayores. Para ello existen los primeros auxilios, entendidos como la atención inmediata y temporal prestada frente a alguien frente a una urgencia médica,
                        hasta que pueda atenderse en un centro asistencial.
                    </p>
                    <p>
                        Existen varios accidentes que ocurren con frecuencia en los hogares. Valeska González, enfermera de urgencias, explica de qué se tratan y cómo se debería
                        reaccionar frente a cada uno.

                    </p>
                    <p>
                        En primer lugar, están las<strong> heridas</strong>, conocidas como uno de los incidentes más comunes, y dependiendo de su naturaleza (herida punzante, cortante, contusa o abrasiva)
                        se podrá determinar la posible gravedad. Lo que se debe hacer, con las manos previamente desinfectadas, es lavar la herida con abundante suero fisiológico o agua
                        hervida enfriada para arrastrar las partículas contaminantes. Limpiar, secar y cubrir con un apósito estéril para proteger; si el corte es muy profundo se debe
                        trasladar a un centro asistencial.

                    </p>

                    <p>
                        Una <strong>hemorragia</strong> es una de las complicaciones de una herida severa difícil de cerrar, que provoca la salida abundante de sangre. En este caso se debe aplicar presión directa
                        con algún apósito o tela limpia para intentar detener el sangrado (a medida que se empape, poner más telas encima sin quitar el anterior). Si a pesar de todo, el paciente
                        sigue sangrando, se debe trasladar a un centro asistencial inmediatamente.
                    </p>

                    <p>
                        Por otro lado, están las <strong>quemaduras</strong>, cualquier daño o destrucción de la piel o un tejido más profundo (músculo o hueso), producido por agentes externos como calor, frío, sustancias químicas
                        o electricidad. El qué hacer dependerá de cada caso:
                    </p>

                    <ul>
                        <li>
                            <strong>Quemadura por líquido caliente:</strong> mojar con abundante agua fría por 10 a 20 minutos; retirar ropa y accesorios de la zona (si hay ropa pegada, no retirar,
                            sino que cortar por alrededor), cubrir con apósitos o material que no deje pelusas. Si la quemadura es muy extensa o si aparecen ampollas, acudir
                            a un centro médico.
                        </li>
                        <li>
                            <strong>Quemadura por fuego:</strong> llamar a servicio de emergencias de inmediato. Protegerse del humo cubriendo nariz y boca con un paño húmedo, pues este alcanza temperaturas altas que pueden quemar
                            las vías respiratorias y bloquear el paso de aire. Si la víctima está cubierta en llamas, hacer que se tumbe en el suelo e intentar extinguir el fuego cubriéndolo con un paño húmedo.

                        </li>
                        <li>
                            <strong>Quemadura por sustancias químicas:</strong> generalmente por artículos de limpieza o similar. Proteger las manos con guantes o bolsas plásticas, retirar la ropa
                            de la zona afectada pronto, y lavar con abundante agua por 20-30 minutos. Posteriormente, cubrir la piel con una tela limpia y trasladar a un centro
                            asistencial (idealmente llevar la etiqueta del producto).
                        </li>
                        <li>
                            Quemadura por electricidad: antes que todo, cortar la fuente de poder. Luego, alejar al accidentado de la zona de riesgo usando un objeto aislante seco, y trasladar
                            a un centro asistencial lo antes posible, pues las lesiones en este caso son internas (a nivel muscular, alteración del ritmo cardíaco, etc.).

                        </li>

                    </ul>
                    <p>
                        Las <strong>caídas</strong> también son comunes, y pueden llevar a lesiones musculoesqueléticas como fracturas, esguinces, luxaciones o contusiones.
                        En casa se puede dar una atención inicial, pero pensando en llevar a la víctima a urgencias si hay gravedad. En este caso, los
                        primeros auxilios deben enfocarse en inmovilizar al accidentado, mantenerlo en reposo, aplicar frío local si la lesión es en
                        extremidades, y derivar a centro asistencial si es necesario.
                    </p>
                    <p>
                        Las <strong>picaduras</strong> producidas por insectos o criaturas similares, como abejas, avispas, mosquitos o arañas, también son una opción.
                        Con abejas, por ejemplo, la picadura es más dolorosa que peligrosa, e implica inflamación, enrojecimiento y molestia del área;
                        en ese caso, se debe intentar quitar el aguijón y aplicar hielo, pero si continúa inflamándose es necesario derivar a atención
                        médica. Por otro lado, si se sospecha una picadura de araña de rincón, se debe inmovilizar y acceder inmediatamente a urgencias,
                        pues podría ser grave -y si es posible, llevar la araña para su análisis.

                    </p>
                    <p>
                        Finalmente, las mordeduras de perro suelen suceder, especialmente considerando la cantidad de personas que los tienen como mascotas.
                        Cuando ocurre, los dientes perforan y pueden producir daño a la piel, hueso, músculo, vasos sanguíneos o articulaciones; estas heridas
                        se infectan fácilmente, por lo que se debe lavar con agua y jabón, secar y cubrir con un apósito, y llevar a un centro hospitalario
                        inmediatamente, pues podría ser necesaria una vacuna antirrábica.
                    </p>
                    <p>
                        Valeska destaca la importancia de estar preparados y educados al respecto: <em>
                            “Por todo lo anterior, es importante tener un botiquín de
                            primeros auxilios, porque nos va a permitir entregar una ayuda mucho más completa. Suero fisiológico, gasas, apósitos, guantes y pinzas
                            son algunos de los materiales más útiles, pero lo más importante es que esté en una ubicación fácil de acceder, que no se use para juegos,
                            que cada vez que un insumo sea utilizado se reponga, y no tener fármacos a menos que se conozca el historial de alergias de los miembros de
                            la casa. Siempre hay que intentar prevenir y evitar a toda costa necesitar primeros auxilios, pero todos deberíamos estar claros con qué hacer
                            frente a cada una de estas situaciones”.
                        </em>
                    </p>
                </div>
                <div class="col-12 col-md-auto sidebar sidebar-nota">
                    <div class="cont-icon-bar">
                        <partial name="~/Views/Biblioteca/_IconBar.cshtml" model="Model" view-data="ViewData" />

                    </div>

                    <partial name="~/Views/Biblioteca/_ColumnasNotas.cshtml" model="Model" view-data="ViewData" />

                </div>

            </div>

        </div>
    </section>
</div>


@section Scripts {
    <script src="~/js/splide.min.js"></script>
    <script src="~/js/carrusel.js"></script>
    <script type="module">
        import { init } from '../../js/Paciente/loguso.js?rnd=${@NumeroRandom.GetRandom()}';
        init(@Html.Raw(Json.Serialize(Model)))
    </script>


}
