/*sunglass*/

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #000;
    --secondary: #8EC5E2;
    --tertiary: #111;
    --accent: #8EC5E2;
    --light: #FFF;
    --font-family: 'Mulish', sans-serif;
}

body {
    /* font-family: var(--font-family) !important;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family) !important;
}
/*Login*/
.logotipo-desktop {
    background-image: url(../../img/sunglass/logotipo.svg) !important;
}

.logotipo-mobile {
    background-image: url(../../img/sunglass/logotipo.svg) !important;
}


.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container {
    margin-top: 15% !important;
}

    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__title {
        color: #000000;
        font-weight: 400 !important;
        font-size: 36px !important;
    }

.form-group .ms-label {
    color: var(--tertiary) !important;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.divider-medismart {
    display: flex !important;
    margin-bottom: 2rem;
}

.logo-convenios {
    /* display: none;*/
    margin-bottom: 2rem;
}

.prehome__plan h2 {
    text-align: center;
    font-weight: 700;
    width: 70%;
    margin: 0 auto;
    color: var(--primary)
    /* margin-top: 3rem; */
}

/* Imágenes Login */
.img1 {
    background-image: url(../../img/sunglass/login/960x978.jpg) !important;
}

.img2 {
    background-image: url(../../img/sunglass/login/960x978.jpg) !important;
}

.img3 {
    background-image: url(../../img/sunglass/login/960x978.jpg) !important;
}

.img4 {
    background-image: url(../../img/sunglass/login/960x978.jpg) !important;
}

.img5 {
    background-image: url(../../img/sunglass/login/960x978.jpg) !important;
}

.img6 {
    background-image: url(../../img/sunglass/login/960x978.jpg) !important;
}

.body-home {
    background-image: linear-gradient(178.94deg, #FFFFFF -19.14%, #000000 109.27%);
    background-blend-mode: multiply;
    /*background-position: right 90%;*/
}

    .body-home .logo-home img {
        max-width: 163px;
        width: 100%;
    }

    .top-banner .legend {
        font-weight: 500;
    }

.menu-top .item-menu-top i,
.menu-top .label-menu {
    color: var(--primary);
}

.menu-top .label-menu-pac {
    color: var(--primary);
}

.menu-top:hover .label-menu-pac {
    color: var(--accent);
}

    .menu-top .item-menu-top:hover i, .menu-top .item-menu-top:hover .label-menu {
        color: var(--accent) !important;
    }
.kt-menu__item a, .kt-menu__item i {
    color: var(--primary)
}

    .kt-menu__item a .ms-label-menu {
        color: var(--tertiary)
    }

    .kt-menu__item:hover a, .kt-menu__item:hover i {
        color: var(--secondary) !important;
    }

.accesible-btn button {
    color: #3BC1CD;
    border: 1px solid #3BC1CD;
}

    .accesible-btn button:hover {
        background-color: var(--primary);
        border-color: var(--primary)
    }

    /*Modal opciones*/

.modal-especialidad h1 {
    font-weight: 700;
    margin-bottom: 32px;
    color: #111;
}


/*Calugas*/
.body-home .card-plan .costo, .body-home .card-plan .pronto-card {
    background-color: var(--primary);
    color: var(--light);
    border-radius: 0px 16px;
}




.busqueda-profesionales {
    border: 2px solid var(--secondary);
}
    .busqueda-profesionales i {
        color: var(--secondary)
    }
    .busqueda-profesionales .btn-outline-primary {
        color: var(--secondary)
    }

.caja-especialidad.active {
    background-color: var(--primary);
}

.caja-especialidad {
    background-color: var(--secondary);
}

.inner-especialidad strong {
    color: var(--light)
}

.step.active .step-icon {
    background-color: var(--primary);
}

.stepper {
    background-image: url(../../img/sunglass/fondo-banner2.svg);
}

    .stepper .flecha {
        color: var(--primary)
    }

    .stepper img {
        border-color: #999;
    }

.step.active .label-step {
    color: var(--primary)
}

.mensaje-superior {
    color: var(--secondary)
}

.caja-profesional .titulo-profesional,
.nombre-profesional {
    color: #8F8F8F;
}

.caja-profesional .fecha-atencion {
    color: var(--primary)
}

.front-fecha-atencion {
    border: 1px solid var(--primary);
}

.calificacion .positiva {
    color: var(--primary);
}

.front-fecha-atencion strong:before {
    color: var(--primary);
    font-weight: 900;
}

.especialidad-profesional {
    color: #8F8F8F;
}
.carga-archivos h3 {
    color: var(--tertiary)
}

.mensaje-confirmacion strong {
    color: var(--secondary)
}

.titulo-seccion {
    color: var(--secondary)
}

.top-banner {
    background-image: url(../../img/sunglass/fondo-banner.svg);
}
    .top-banner img {
        border-color: rgba(255, 255, 255, .3)
    }
    .top-banner .legend {
        color: var(--secondary)
    }

.banner_topsc .legend .text-warning {
    color: var(--primary) !important;
}

.top-banner.banner_topsc {
    background-image: url(../../img/sunglass/fondo-banner2.svg);
}

.text-warning {
    color: var(--light) !important;
}

.menu-top .item-menu-top .logotipo-mobile {
    width: 110px !important;
}
/*Sala espera*/
.hotspot-icon .cont-icon {
    background-color: var(--primary)
}

.hotspot-icon:hover .cont-icon {
    background-color: #BABABA;
    color: var(--primary);
}

.cont-icon.hotspot-redes {
    background-color: #000;
}

#reporte .cont-icon {
    background-color: var(--primary);
}

#hs-g .cont-icon {
    background-color: var(--secondary);
}

#hs-g:hover .cont-icon {
    background-color: var(--primary);
}

.toolbar-option {
    color: var(--primary)
}

.toolbar-option.active {
    color: var(--secondary)
}

.sala-espera-mobile .btn-sala .cont-icon {
    background-color: var(--tertiary)
}

.btn-sala:hover .cont-icon {
    background-color: var(--secondary)
}

.btn-sala:hover {
    color: var(--secondary);
}

.cont-btn-panel .btn-atencion, .cont-btn-vc .btn-atencion {
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

    .cont-btn-panel .btn-atencion:hover, .cont-btn-vc .btn-atencion:hover {
        background-color: rgba(237, 110, 0, 0.1);
        color: var(--primary);
    }

.hotspot-icon {
    text-shadow: 2px 2px 4px #000000;
}

    .hotspot-icon i {
        text-shadow: none;
    }

    .hotspot-icon:hover {
        color: #FFF;
    }


@media (max-width: 668px) {
    .card.caja-profesional {
        margin-top: 20px;
    }

    .stepper {
        background-image: none;
        margin-top: 4rem;
    }
}

@media (max-width: 991.98px) {
    .top-banner .legend {
        text-align: left;
        font-size: 1.3rem;
    }
}


 @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .img1 {
        background-image: url(../../img/sunglass/login/548x850.jpg) !important;
    }

    .img2 {
        background-image: url(../../img/sunglass/login/548x850.jpg) !important;
    }

    .img3 {
        background-image: url(../../img/sunglass/login/548x850.jpg) !important;
    }

    .img4 {
        background-image: url(../../img/sunglass/login/548x850.jpg) !important;
    }

    .img5 {
        background-image: url(../../img/sunglass/login/548x850.jpg) !important;
    }

    .img6 {
        background-image: url(../../img/sunglass/login/548x850.jpg) !important;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {

    .img1 {
        background-image: url(../../img/sunglass/login/960x978.jpg) !important;
    }

    .img2 {
        background-image: url(../../img/sunglass/login/960x978.jpg) !important;
    }

    .img3 {
        background-image: url(../../img/sunglass/login/960x978.jpg) !important;
    }

    .img4 {
        background-image: url(../../img/sunglass/login/960x978.jpg) !important;
    }

    .img5 {
        background-image: url(../../img/sunglass/login/960x978.jpg) !important;
    }

    .img6 {
        background-image: url(../../img/sunglass/login/960x978.jpg) !important;
    }
}


/*Prohome*/

.prehome__plans {
    height: 450px;
}

.prehome__plan {
    width: 100%;
    padding: 0;
}

.prehome__plan ul {
    list-style-image: url('../../img/sunglass/bullet.svg');
   
    margin-top: 32px;
    height: 350px;
    font-size: 16px;
}

.prehome__title {
    color: #FFF;
}

.kt-login__extra.registro {
    display: none;
}

.logo-convenios.convenioChile + hr {
    display: none;
}

.kt-login.kt-login--v3.kt-login--signin .kt-login__signin .titulo-card-farmacia {
    text-align: center;
}

@media (max-width: 991.98px) {
    .prehome__plans {
        height: auto;
    }
}

.lux-titulo-negacion {
    color: #209CD4;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
   
}

.lux-parrafo-info {
    color: #858585;
    text-align: left;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    
}

#backToHome {
    border-radius: 4px;
    border: 1px solid #209CD4;
    box-shadow: 4px 4px 16px 0px rgba(88, 103, 221, 0.25);
    color: #209CD4;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    background-color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.lux-examen-realizado {
    color: #209CD4;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.lux-parrafo-realizado {
    color: #858585;
    text-align: justify;
    font-family: Nunito !important;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    
}

.parrafo-lux-2 {
    color: #858585;
    text-align: justify;
    font-family: Nunito !important;
    font-size: 18px;
    font-style: normal;
    
}


.lux-ancla-examenes {
    color: rgba(0, 0, 0, 0.70);
    font-family: Nunito !important;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36.717px;
    text-decoration-line: underline;
    cursor: pointer;
}

.anclas-login {
    color: #646C9A;
    font-family: Mulish;
    font-weight: 400;
    font-size: 16px;
}

.ancla-azul {
    color: #5F5F5F;
    font-family: Mulish;
    font-weight: 400;
    font-size: 16px;
}


.body-home .cont-card .card img {
    max-width: 130px !important;
   
}

.modal-open .modal {
   
    margin-top: 10rem !important;
}
.reserva-exitosa--texto {
    
    align-items: baseline !important;
    
}
