@{
    Layout = "_LayoutInvitado";
    ViewData["view"] = Roles.Invitado;
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid medismart-atencion">

    <!--Begin::Dashboard 7-->
    <!--Begin::Row-->

    <div class="row">
        <div class="col-12 col-md-12 p-0 mt-3 mt-md-0">
            <h3>La página que buscas no se encuentra disponible.</h3>
        </div>
    </div>
</div>
