/*compara*/

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');*/

:root {
    --primary: #36276F;
    --secondary: #ffff;
    --tertiary: #111;
    --accent: #ffff;
    --light: #FFF;
    --font-family: 'Mulish', sans-serif;
}
.html-uno{
    height:1rem;
}


body {
    /* font-family: var(--font-family) !important;*/
    
    background-color: #fff !important;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family) !important;
}
/*Login*/
.logotipo-desktop {
    background-image: url(../../img/simple-regalariza/logotipo.svg);
    max-width: 292px;
}

.logotipo-mobile {
    background-image: url(../../img/simple-regalariza/logotipo.svg);
}

.tele-simple {
    display: none !important;
}


.sala-espera-mobile img {
    margin-top: -136px;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container {
    margin-top: 15% !important;
}

    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__title {
        color: var(--primary);
        font-weight: 900;
        display: inline-block;
    }

.login-info--tooltip ~ .tooltip-inner {
    text-align: left !important;
    background-color: red !important;
}
    .login-info--tooltip i {
        color: #ccc;
        font-size: 20px;
        margin-left: 10px;
        text-align: left !important;
    }

.form-group .ms-label {
    color: var(--primary) !important;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control {
    background: rgba(235, 237, 242, 0.40) !important;
    
}

.tooltip.show p {
    text-align: left;
}
.img-interrogacion {
    vertical-align: middle;
    border-style: none;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__head {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form {
    margin: 0px 0px 18px 0px;
}

.mt-0, .my-0 {
    margin-top: 1.5rem !important;
}

.btn-primary {
    background-color: #50BCC9;
    border-radius: 58px;
    border: 1px solid #50BCC9;
    box-shadow: 4px 4px 16px 0px rgba(88, 103, 221, 0.25);
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

hr {
    margin-top: 4.5rem !important
}

.no-tienes-cuenta {
    color: #646C9A;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.registrate-aca {
    color: #5867DD;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-primary:hover {
    background-color: #111986;
    border-color: #111986;
}

.divider-medismart {
    display: flex !important;
    margin-bottom: 2rem;
}

.logo-convenios {
    /* display: none;*/
    margin-bottom: 2rem;
}

/* Imágenes Login */
.img1 {
    background-image: url(../../img/simple-regalariza/login/960x978.jpg);
}

.img2 {
    background-image: url(../../img/simple-regalariza/login/960x978.jpg);
}

.img3 {
    background-image: url(../../img/simple-regalariza/login/960x978.jpg);
}

.img4 {
    background-image: url(../../img/simple-regalariza/login/960x978.jpg);
}

.img5 {
    background-image: url(../../img/simple-regalariza/login/960x978.jpg);
}

.img6 {
    background-image: url(../../img/simple-regalariza/login/960x978.jpg);
}


.body-home .logo-home img {
    width: 295px !important;
    height: 63px;
}

.body-home .top-banner {
    margin-top: 32px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .body-home .top-banner .legend {
        
        font-size: 25px !important;
        
    }
}

.top-banner .legend {
    font-weight: 500;
}

.menu-top .item-menu-top i,
.menu-top .label-menu {
    color: #50BCC9;
}

.menu-top .item-menu-top:hover i, .menu-top .item-menu-top:hover .label-menu {
    color: #C4C4C4 !important;
}
.kt-menu__item a, .kt-menu__item i {
    color: #53565A;
}

.letras-sala-espera {
    display: flex;
    flex-direction: column !important;
}

.letras-home{
    display: flex;
    flex-direction:row !important;
}

.color-letras-salaespera {
    margin: 0.5rem !important;
    color: #333333 !important;
    border: #333333 1px solid !important;
}

.kt-menu__item a .ms-label-menu {
    color: var(--primary) !important;
}

    .kt-menu__item:hover a, .kt-menu__item:hover i {
        color: var(--secondary) !important;
    }

.accesible-btn button {
    border-radius: 8px;
    border: 1px solid #50BCC9;
    background: #FFF;
    color: #50BCC9;
    margin: 0.3rem;
}

.accesible-tools-desktop .accesible-btn button {
    margin: 0.5rem;
    color: var(--primary);
    border: #FFFFFF 1px solid;
    background: #FFFFFF
}
.body-home .footer-home a {
    color: var(--primary);
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.kt-menu__item a, .kt-menu__item i {
    color: #36276F !important;
}

.kt-menu__item:hover a, .kt-menu__item:hover i {
    color: #FFAF36 !important;
}

.letras-color-home {
    margin: 0.5rem;
    color: #08395B !important;
    border: none !important;
}

btn-letras-a {
    color: #fff;
    border: 1px solid #08395B;
}

.accesible-btn button:hover {
    background-color: #C4C4C4;
    border-color: var(--primary)
}

.busqueda-profesionales {
    /* border: 2px solid var(--secondary);*/
}
    .busqueda-profesionales i {
        /* color: var(--secondary)*/
    }
    .busqueda-profesionales .btn-outline-primary {
        /*color: var(--secondary)*/
    }

.caja-especialidad.active {
    background-color: var(--primary);
}

.caja-especialidad {
    background-color: #0F499A;
}

.inner-especialidad strong {
    color: var(--light)
}

.step.active .step-icon {
    background-color: var(--primary);
}

.stepper {
    background-image: url(../../img/compara/fondo-banner2.svg);
}

    .stepper .flecha {
        color: var(--primary)
    }

    .stepper img {
        border-color: var(--primary)
    }

.step.active .label-step {
    color: var(--primary)
}

.mensaje-superior {
    color: var(--secondary)
}

.caja-profesional .titulo-profesional,
.nombre-profesional {
    color: var(--tertiary)
}

.caja-profesional .fecha-atencion {
    color: var(--tertiary)
}

.front-fecha-atencion {
    border: 1px solid rgba(35,33, 114, .3)
}

    .front-fecha-atencion strong:before {
        color: var(--tertiary);
        font-weight: 900;
    }

.especialidad-profesional {
    color: var(--tertiary)
}
.carga-archivos h3 {
    color: var(--tertiary)
}

.mensaje-confirmacion strong {
    color: var(--secondary)
}

.titulo-seccion {
    color: var(--primary)
}

.top-banner {
    background-image: url(../../img/simple-regalariza/fondo-banner.svg);
}

.copy{
    display: none; 
}
    .top-banner img {
        border-color: rgba(255, 255, 255, .3)
    }
    .top-banner .legend {
        color: #646C9A;
    }

.banner_topsc .legend .text-warning {
    color: var(--primary) !important;
}

.top-banner.banner_topsc {
    background-image: url(../../img/compara/fondo-banner2.svg);
}

.text-warning {
    color: var(--primary) !important;
}

.body-home .text-warning {
    color: #50BCC9 !important;
}

.menu-top .item-menu-top .logotipo-mobile {
    width: 110px !important;
}
/*Sala espera*/
.hotspot-icon .cont-icon {
    background-color: #FFFFFF;
    color: var(--primary)
}

.hotspot-icon:hover .cont-icon {
    /* background-color: #C4C4C4;*/
    background-color: var(--primary);
    color: #FFFFFF;
}

.cont-icon.hotspot-redes {
    background-color: #222222;
    color: #FFFFFF;
}

#reporte .cont-icon {
    background-color: #ffffff;
    color: var(--primary)
    
}

#reporte:hover .cont-icon {
    background-color: var(--primary);
    color: #ffffff;
}
#hs-g .cont-icon {
    background-color: var(--secondary);
}

#hs-g:hover .cont-icon {
    background-color: var(--primary);
}

.toolbar-option {
    color: var(--primary)
}

.toolbar-option.active {
    color: var(--secondary)
}

.sala-espera-mobile .btn-sala .cont-icon {
    background-color: #FFFFFF ;
    color: var(--primary)
}

.btn-sala:hover .cont-icon {
    background-color: var(--primary);
    color: #FFFFFF
}

.btn-sala:hover {
    color: var(--secondary);
}

.cont-btn-panel .btn-atencion, .cont-btn-vc .btn-atencion {
    border: 1px solid var(--primary);
    color: var(--primary);
}

    .cont-btn-panel .btn-atencion:hover, .cont-btn-vc .btn-atencion:hover {
        background-color: rgba(237, 110, 0, 0.1);
        color: var(--primary);
    }

.hotspot-icon {
    text-shadow: 2px 2px 4px #000000;
}

    .hotspot-icon i {
        text-shadow: none;
    }

    .hotspot-icon:hover {
        color: #FFF;
    }

@media (max-width: 668px) {
    .card.caja-profesional {
        margin-top: 20px;
    }

    .stepper {
        background-image: none;
        margin-top: 4rem;
    }
}

@media (max-width: 991.98px) {
    .top-banner .legend {
        text-align: left;
        font-size: 1.3rem;
    }
}


 @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .img1 {
        background-image: url(../../img/simple-regalariza/login/548x850.jpg);
    }

    .img2 {
        background-image: url(../../img/simple-regalariza/login/548x850.jpg);
    }

    .img3 {
        background-image: url(../../img/simple-regalariza/login/548x850.jpg);
    }

    .img4 {
        background-image: url(../../img/simple-regalariza/login/548x850.jpg);
    }

    .img5 {
        background-image: url(../../img/simple-regalariza/login/548x850.jpg);
    }

    .img6 {
        background-image: url(../../img/simple-regalariza/login/548x850.jpg);
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {

    .img1 {
        background-image: url(../../img/simple-regalariza/login/960x978.jpg);
    }

    .img2 {
        background-image: url(../../img/simple-regalariza/login/960x978.jpg);
    }

    .img3 {
        background-image: url(../../img/simple-regalariza/login/960x978.jpg);
    }

    .img4 {
        background-image: url(../../img/simple-regalariza/login/960x978.jpg);
    }

    .img5 {
        background-image: url(../../img/simple-regalariza/login/960x978.jpg);
    }

    .img6 {
        background-image: url(../../img/simple-regalariza/login/960x978.jpg);
    }
}


/*Prehome*/

.prehome__plans {
    height: 450px;
}

.prehome__plan {
    width: 100%;
    padding: 0;
}

.prehome__plan ul {
    list-style-image: url('../../img/compara/bullet.svg');
   
    margin-top: 32px;
    height: 350px;
    font-size: 16px;
}

.prehome__title {
    color: #FFF;
}

.kt-login__extra.registro {
    display: none;
}

.logo-convenios.convenioChile + hr {
    display: none;
}

.kt-login.kt-login--v3.kt-login--signin .kt-login__signin .titulo-card-farmacia {
    text-align: center;
}

@media (max-width: 991.98px) {
    .prehome__plans {
        height: auto;
    }


}



.login-footer .terminos {
    margin-bottom: 2rem;
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    margin-left: 1rem;
}
.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-image: url(../../img/simple-regalariza/fondo-banner.svg);
    background-repeat: repeat-x;
    background-position: left 10px;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.menu-top .label-menu-pac {
    color: #50BCC9
}

.category-button:hover, .category-button.active {
    background-color: var(--important) !important;
    color: var(--important) !important;
}

.kt-menu__item:hover a, .kt-menu__item:hover i {
    color: var(--primary) !important;
}

.menu-top .item-menu-top:hover .label-menu-pac {
    color: #50BCC9 !important;
}

.kt-menu__item:hover a .ms-label-menu {
    color: var(--primary) !important;
}

.kt-widget4__item{
    
display: flex !important;
    justify-content: center;

}

.footer-salaespera {
    display: flex;
    justify-content: end;
    margin-top: -3rem;
}
/*.btn-consentimiento .kt-widget4__title {
    color: #36276F;
    margin-right: 32rem;
    font-family: Roboto;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fal, .far {
    font-family: "Font Awesome 5 Pro";
    color: #36276F;
}*/
.btn-consentimiento .kt-widget4__title {
    font-size: 1.2rem !important;
    color: var(--primary)
}

.ml-md-auto, .mx-md-auto {
    margin-left: 0 !important;
}

.kt-grid.kt-grid--hor:not(.kt-grid--desktop):not(.kt-grid--desktop-and-tablet):not(.kt-grid--tablet):not(.kt-grid--tablet-and-mobile):not(.kt-grid--mobile) > .kt-grid__item.kt-grid__item--fluid, .kt-grid.kt-grid--hor:not(.kt-grid--desktop):not(.kt-grid--desktop-and-tablet):not(.kt-grid--tablet):not(.kt-grid--tablet-and-mobile):not(.kt-grid--mobile) > .kt-grid__item.kt-grid__item--fluid {
    flex: 1 0 auto;
    /*background: #DDDDDD;*/
}

.fondo-login {
    background: #FFFFFF !important;
}

.body-home {
    background-image: url(../../img/simple-regalariza/fondo-home.svg), linear-gradient(180deg, #ddd 0%, #ddd 100%) !important;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}

    .body-home .cont-card h1 {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #36276F;
    }

    .body-home .top-banner .legend {
        color: var(--primary);
        font-family: Mulish;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .body-home .cont-card .card .card-body {
        background: #50BCC9;
        border-radius: 16px;
    }

    .body-home .card-plan .costo, .body-home .card-plan .pronto-card {
        position: absolute;
        top: -1px;
        right: -1px;
        width: 70px;
        height: 25px;
        font-size: 11px;
        font-weight: 900;
        background-color: #6F6F6F;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 16px 0px 8px;
        text-transform: uppercase;
        display: none;
    }

    .body-home .pronto {
        
        
        display: none;
    }

.accesible-tools-desktop .accesible-btn {
    display: flex;   
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.terminos{
    display: none !important;
}

.accesible-tools-desktop {
    display: flex;
    margin-top: 0rem;
    width: 196rem;
    justify-content: start;
}

.btn-terminos{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.logo-footer {
    margin-left: -5rem;
    padding-top: 50px;
    position: absolute;
    left: 90px;
    bottom: auto;
}

a {
    color: #5867DD;
    text-decoration: none;
    background-color: transparent;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

html, body {
    height: 68rem;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 300;
    font-family: Poppins, Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-height: 68rem;
}

.body-login {
    height: 68rem;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 300;
    font-family: Poppins, Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-height: 56rem;
}

.body-home .menu-top .item-menu-top i, .body-home .menu-top .item-menu-top .label-menu {
    color: #50BCC9;
}

/*.body-login {
    max-height: 45rem;
}*/

.body-home .logo-home {
    background: #FFFFFF;
    padding: 2rem;
}

.body-home .footer-home {
    
    display: flex;
    width: 100%;
 
    justify-content: space-between;

}

@media (max-width: 1024px) {
    .body-home .powered, .body-home .powered strong {
        color: #FFF;
        display: none;
    }

    .body-home .top-banner {
        margin-top: 0;
    }

        .body-home .top-banner .legend {
            font-size: 24px;
        }
}

@media (max-width: 991.98px) {
    .container-login {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        min-height: calc(107vh - 150px);
        background-color: #f9f9fc;
    }
    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container {
        width: 290px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    html, body {
        font-size: 12px;
        max-height: 0rem;
        height: 0rem;
    }

    
}

@media (max-width: 768px) {
    html, body {
        font-size: 12px;
        height: 0;
    }
    .accesible-tools-desktop .accesible-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    .body-home .cont-home {
        height: 52rem;
    }
    .footer-salaespera {
        display: flex;
        justify-content: center;
        margin-top: -1rem;
    }
    .kt-footer .kt-footer__copyright {
        display: none;
    }
    .cont-fondo-mobile {
        width: 100%;
        height: calc(100vh + 80px);
        /* max-height: 580px; */
        z-index: -1;
        overflow: hidden;
        position: absolute;
        height: 69rem;
    }

    .body-home .footer-home {
        display: flex; 
        width: 100%; 
        justify-content: space-between;
    }
    .logo-footer {
       margin-left: 0rem;
    }

    .btn-terminos {
        display: flex;
        flex-direction: column;
    }
    .accesible-tools-desktop {
        display: flex;
        margin-top: 0rem;
        flex-direction: column;
    }
    .row {
        
        margin-top: 5rem;
    }
    }

@media (min-width: 570px) and (max-width: 765px) {
    html, body {
        font-size: 12px;
        max-height: 95rem;
        height: 0;
    }

}

@media (max-width: 991.98px) {

    .kt-grid.kt-grid--hor:not(.kt-grid--desktop):not(.kt-grid--desktop-and-tablet):not(.kt-grid--tablet):not(.kt-grid--tablet-and-mobile):not(.kt-grid--mobile) > .kt-grid__item.kt-grid__item--fluid, .kt-grid.kt-grid--hor:not(.kt-grid--desktop):not(.kt-grid--desktop-and-tablet):not(.kt-grid--tablet):not(.kt-grid--tablet-and-mobile):not(.kt-grid--mobile) > .kt-grid__item.kt-grid__item--fluid {
        /* flex: 0 0 0; */
        margin-bottom: 0rem;
    }   
       
    body {
        /*ackground-color: #f9f9fc !important;*/
        padding-top: 0;
    }
   
}

/*.mt-0, .my-0 {
    margin-top: 1.5rem !important;
    display: flex;
    flex-direction: column-reverse;
    line-height: 2rem;
}*/


@media (min-width: 567px) and (max-width: 1200px) and (orientation: portrait) {
    .kt-login__logo.cont-logo-mobile.d-md-none {
        /*background-color: #f9f9fc !important;*/
        display: flex !important;
        justify-content: center;
    }
}

.wow.wow__historial .wow__title h2 {
    color: #646C9A;
}

.wow__historial .tarjeta__title {
    color: #646C9A;
}


.columna-medicamentos {
    display: none;
}

.columna-medicamentos, .columna-examenes {
        display: none
    }

.wow .tag.active {
    background-color: var(--primary) !important;
    color: var(--secondary);
}

.wow .tag:hover {
    background-color: #DDD;
    color: var(--primary);
}

.wow__lista-item-title, .wow__subitem-check, .wow__title h2, .wow__subitem-price, .wow__sort-interconsulta,
.wow__lista-footer .wow__total-final-card, .wow__total-label, .wow__total-price {
    color: var(--primary);
}

.link-terminos {
    display: flex;
    gap:12px;
}

#hs-b .cont-icon {
    background-color: #50BCC9;
}

#hs-b .cont-icon i {
    color: #FFF;
}
.footer-salaespera img {
    margin-right: 2rem;
}

.sala-espera-mobile .btn-sala .cont-icon i {
    text-shadow: none;
}

.kt-menu__item a, .kt-menu__item i {
    color: var(--secondary);
}