/*Estilos botones atención*/

.cont-btn-vc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cont-btn-panel {
    display: flex;
    align-items: center;
}

.cont-btn-vc .btn-atencion:first-child {
    margin-right: .5rem;
}

.cont-btn-panel .btn-atencion {
    margin-right: .5rem;
}

.cont-btn-panel .btn-atencion:last-child {
    margin-right: 0;
}

.btn-atencion {
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    background-color: #FFF;
    color: #3BC1CD;
    border: 1px solid #3BC1CD;
}
