/*Examenes Preventivos*/

.usuario-examenes {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 66px;
}

    .usuario-examenes .iniciales {
        width: 50px;
        height: 50px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        background-color: #EB5757;
    }

.usuario-examenes .datos-usuario {
    font-size: 24px;
    margin-right: auto;
    
}
    .usuario-examenes .datos-usuario small {
        font-size: 16px;
        font-weight: 500;
        display: block;
    }

    .titulo-examenes-preventivos {
        color: #3BC1CD !important;
        font-size: 22px;
        font-weight: 700;
    }

.card-examen-preventivo {
    padding: 2rem;
    border: 1px solid rgba(59, 193, 205, 0.3);
    border-radius: 10px;
    background-color: #FFF;
    height: 210px;
   
}

    .card-examen-preventivo .paso {
        font-size: 16px;
        color: #3BC1CD;
        font-weight: 700;
    }

.card-examen-preventivo h4 {
    font-weight: 900;
    font-size: 17px;
}

.iconos-examenes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.icono-examen {
    width: 108px;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .8;
}

    .icono-examen:hover {
        transition: all .3s ease-out;
        opacity: 1;
    }

.icono-examen img {
    width: 100%;
    transition: all .3s ease-out;
}

    .icono-examen img:hover {
        filter: brightness(0) saturate(100%) invert(66%) sepia(14%) saturate(1817%) hue-rotate(136deg) brightness(99%) contrast(87%);
    }

    .icono-examen img.icono-seleccionado {
        filter: brightness(0) saturate(100%) invert(31%) sepia(80%) saturate(2283%) hue-rotate(170deg) brightness(87%) contrast(101%);
    }

.card-examen-preventivo label {
    display: block;
    margin-top: 30px;
}

.card-examen-preventivo input[type="text"],
.card-examen-preventivo input[type="number"] {
    border: 1px solid #DDD;
    width: 100%;
    padding: 16px 8px;
    border-radius: 8px;
    outline: none;
}

.cont-examenes-preventivos {
    padding: 2rem 0;
    border-bottom: 1px solid #DDD;
}

.cont-examenes-preventivos .btn {
    margin: auto;
    margin-top: 40px;
    display: inline-block;
    text-align: center;
}

.icono-recomendacion {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.icono-recomendacion i {
    font-size: 20px;
}

.icono-recomendacion h4 {
    font-weight: 700;
}


.lista-examenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 4rem;
    grid-row-gap: 1rem;
    padding-left: 3rem;
    margin-top: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #DDD;
    margin-bottom: 3rem;
    list-style-type: none;

}


    .lista-examenes li {
        max-width: 300px;
        text-align: left;
    }

        .lista-examenes li:before {
            font-family: 'FontAwesome';
            content: '\f00c';
            margin: 0 5px 0 -15px;
            color: #646c9a;
        }


    .obtener-receta {
        display: flex;
        /*align-items: center;*/
        justify-content: space-between;
        gap: 2rem;
    }

.obtener-receta .btn {
    width: 250px;
}

.obtener-receta p {
    margin-bottom: 0;
}

.encuestas {
    padding: 2rem;
    border: 1px solid rgba(59, 193, 205, 0.3);
    border-radius: 10px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    display: none;
}

.leyenda-encuesta {
    margin-right: auto;
}

.leyenda-encuesta p {
    margin-bottom: 0;
    font-weight: 900;
    font-size: 16px;
    max-width: 424px;
    letter-spacing: 0;
    text-align: left
    
}

.icono-encuesta {
    width: 118px;
    flex-direction: column;
    text-align: center;
    color: #0081A4;
    align-items: center;
    border-radius: 10px;
    transition: all .3s ease-out;
    padding: 1rem;

}

    .icono-encuesta:hover{
        background-color: #F7F7F7;
    }

    .icono-encuesta i {
        font-size: 48px;
        display: inline-block;
        margin-bottom: 20px;
    }

    .cont-receta {
        margin-bottom: 3rem;
    }


    .cont-recomendacion {
        margin-top: 2rem;
    }


    /*Anura*/

.carga-archivos {
    border: none;
    padding-left: 0;
}

    .cont-anura img {
        margin: auto;
        display: block;
    }

.check-anura {
    display: flex;
    gap: .5rem;
    margin: 16px 0;
    display: none;
}

.check-anura p {
    margin-bottom: 0;
}

.toolbar-anura {
    display: flex;
    gap: 1rem;
}

    .toolbar-anura .btn-block + .btn-block {
        margin-top: 0;
    }

    .cont-checks-anura #checks {
        display: flex;
        flex-wrap: wrap;
    }

        .cont-checks-anura #checks .text-right {
            width: 100%;
            /* text-align: left !important;
            padding-left: 1rem;*/
        }

        .cont-checks-anura #checks .check-aceptacion {
            width: 33%;
            padding: 1rem;
            margin-top: 0;
        }

            .cont-checks-anura #checks .check-aceptacion + div {
                order: 3;
                
                padding: 1rem;
                width: 33%;
                border-top: 1px solid rgba(59, 193, 205, 0.3);
            }

        .cont-checks-anura #checks input[type="checkbox"] {
            margin-top: .3rem;
                                   
        }

        .screen-anura {
            width: 134px;
            margin: auto;
            margin-bottom: 3rem;
            margin-top: 3rem;
            display: block;
        }

            .cont-anura img.screen-anura {
                margin-bottom: 2.4rem;
            }

.screen-anura-vuelta {
    max-width: 370px;
    margin: auto;
    margin-bottom: 2rem;
    display: block;
    width: 100%;
}

#aceptaConsentimiento + label {
    /*margin-top: -25px;*/
    /*margin-left: 24px;*/
}

@media (max-width: 991.98px) {


    .carga-archivos {
        height: auto;
    }

    .toolbar-anura {
        flex-wrap: wrap;
    }

    .toolbar-anura .btn {
        width: 100%;
    }

    .cont-checks-anura #checks .check-aceptacion,
    .cont-checks-anura #checks .check-aceptacion + div {
        width: 100%;
    }


}

.btn-confirma-anura {
    max-width: 280px !important;
    margin: auto !important;
    margin-top : 2rem;
    display: block;
}


/*25-04-2023*/

.cont-checks-anura #checks .text-right {
    width: 100%;
    text-align: left !important;
    padding-left: 1.2rem;
}

.cont-checks-anura #checks .check-aceptacion, .cont-checks-anura #checks .check-aceptacion + div {
    display: flex;
    align-items: flex-start;
}