/*bhp*/

:root {
    --primary: #DD5900;
    --secondary: #F8962F;
    --tertiary: #343A40;
}




/*Login*/

.logotipo-desktop {
    background-image: url(../../img/bhp/isotipo.svg);
    background-size: 168px;
}

.logotipo-mobile {
    background-image: url(../../img/bhp/isotipo.svg);
    background-size: 100px;
}

.kt-login__container .titulo-card-farmacia, kt-login__container .subtitulo-card-farmacia {
    text-align: center;
}

.kt-login__container #hs-b .titulo-card-farmacia {
    margin-top: 40px;
}

.kt-login__container #hs-b img {
    margin: 16px auto;
    display: block;
}

.body-home .logo-home img {
    width: 94px;
}

.body-home .pronto {
    color: #FFF;
    background-color: #1DA70C;
    display: none;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container {
    margin-top: 15% !important;
}

    .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__head .kt-login__title {
        color: var(--secondary);
        font-weight: 900 !important;
        font-size: 26px;
    }

.form-group .ms-label {
    color: var(--tertiary) !important;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

    .btn-primary:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }

.logo-convenios {
    justify-content: space-between;
    margin-top: 3rem;
}

/* Imágenes Login */
.img1 {
    background-image: url(../../img/bhp/login/960x978.jpg);
}

.img2 {
    background-image: url(../../img/bhp/login/960x978.jpg);
}

.img3 {
    background-image: url(../../img/bhp/login/960x978.jpg);
}

.img4 {
    background-image: url(../../img/bhp/login/960x978.jpg);
}

.img5 {
    background-image: url(../../img/bhp/login/960x978.jpg);
}

.img6 {
    background-image: url(../../img/bhp/login/960x978.jpg);
}

.body-home {
    background-image: none;
    background-color: #FFF !important;
}

    .body-home .top-banner .legend {
        color: var(--tertiary)
    }

    .body-home .menu-top .item-menu-top i, .body-home .menu-top .item-menu-top .label-menu {
        color: var(--primary)
    }

    .body-home .cont-card .card {
        background-color: var(--tertiary);
    }

    .body-home .footer-home {
        color: var(--tertiary);
    }

        .body-home .footer-home .terminos a {
            color: var(--tertiary);
        }

    .body-home .cont-card h1 {
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
        margin: 1rem auto 2rem;
        color: var(--primary);
        max-width: 170px;
    }

.leyenda-card-home {
    color: var(--primary);
}


.menu-top .item-menu-top i,
.menu-top .label-menu {
    color: var(--primary);
}

.menu-top .item-menu-top:hover i, .menu-top .item-menu-top:hover .label-menu {
    color: var(--secondary)
}

.kt-menu__item a, .kt-menu__item i {
    color: var(--primary)
}

.kt-menu__item:hover a, .kt-menu__item:hover i {
    color: var(--secondary) !important;
}

.kt-menu__item a .ms-label-menu {
    color: var(--tertiary);
}

.accesible-btn button {
    color: var(--light);
    border: 1px solid var(--primary);
    background-color: var(--primary);
}

    .accesible-btn button:hover {
        background-color: var(--light);
        border-color: var(--primary);
        color: var(--primary);
    }

.login-footer .terminos a {
    color: var(--primary);
}

.busqueda-profesionales {
    border: 2px solid var(--secondary);
}

    .busqueda-profesionales i {
        color: var(--secondary)
    }

    .busqueda-profesionales .btn-outline-primary {
        color: var(--secondary)
    }

.caja-especialidad.active {
    background-color: var(--primary);
}

.caja-especialidad {
    background-color: var(--secondary);
}

.inner-especialidad strong {
    color: var(--primary)
}

.step.active .step-icon {
    background-color: var(--primary);
}

.stepper {
    background-image: url(../../img/bhp/fondo-banner.svg);
}

    .stepper .flecha {
        color: var(--primary)
    }

    .stepper img {
        border-color: var(--primary)
    }

.mensaje-superior {
    color: var(--secondary)
}

.caja-profesional .titulo-profesional,
.nombre-profesional {
    color: var(--tertiary)
}

.caja-profesional .fecha-atencion {
    color: var(--secondary)
}

.front-fecha-atencion {
    border: 1px solid rgba(35,33, 114, .3)
}

    .front-fecha-atencion strong:before {
        color: var(--secondary);
        font-weight: 900;
    }

.inner-especialidad strong {
    color: #FFF;
}

.especialidad-profesional {
    color: var(--tertiary)
}

.carga-archivos h3 {
    color: var(--tertiary)
}

.mensaje-confirmacion strong {
    color: var(--secondary)
}

.titulo-seccion {
    color: var(--secondary)
}

.top-banner {
    background-image: url(../../img/bhp/fondo-banner.svg);
}

    .top-banner img {
        border-color: rgba(237, 110, 0, .3);
        border: none;
    }

    .top-banner .legend {
        color: var(--secondary)
    }

.text-warning {
    color: var(--tertiary) !important;
}

.hotspot-icon {
    text-shadow: none;
    font-size: 1.2rem;
}

.menu-top .label-menu-pac {
    color: var(--primary);
}

/*Sala espera*/
.alerta-sala {
    background-color: var(--secondary);
}

.hotspot-icon .cont-icon {
    background-color: var(--tertiary)
}

    .hotspot-icon:hover .cont-icon {
        background-color: var(--primary)
    }

.sala-espera-mobile .btn-sala {
    text-shadow: none;
}

.cont-icon.hotspot-redes {
    background-color: #000;
}


.toolbar-option {
    color: var(--primary)
}

    .toolbar-option.active {
        color: var(--secondary)
    }

.sala-espera-mobile .btn-sala .cont-icon {
    background-color: var(--primary)
}

.btn-sala:hover .cont-icon {
    background-color: var(--secondary)
}

.cont-btn-panel .btn-atencion, .cont-btn-vc .btn-atencion {
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

    .cont-btn-panel .btn-atencion:hover, .cont-btn-vc .btn-atencion:hover {
        background-color: rgba(237, 110, 0, 0.1);
        color: var(--primary);
    }

.hotspot-icon:hover {
    color: #FFF;
}

@media (max-width: 668px) {
    .card.caja-profesional {
        margin-top: 20px;
    }

    .stepper {
        background-image: none;
        margin-top: 4rem;
    }
}


@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .img1 {
        background-image: url(../../img/bhp/login/548x850.jpg);
    }

    .img2 {
        background-image: url(../../img/bhp/login/548x850.jpg);
    }

    .img3 {
        background-image: url(../../img/bhp/login/548x850.jpg);
    }

    .img4 {
        background-image: url(../../img/bhp/login/548x850.jpg);
    }

    .img5 {
        background-image: url(../../img/bhp/login/548x850.jpg);
    }

    .img6 {
        background-image: url(../../img/bhp/login/548x850.jpg);
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {

    .img1 {
        background-image: url(../../img/bhp/login/960x978.jpg);
    }

    .img2 {
        background-image: url(../../img/bhp/login/960x978.jpg);
    }

    .img3 {
        background-image: url(../../img/bhp/login/960x978.jpg);
    }

    .img4 {
        background-image: url(../../img/bhp/login/960x978.jpg);
    }

    .img5 {
        background-image: url(../../img/bhp/login/960x978.jpg);
    }

    .img6 {
        background-image: url(../../img/bhp/login/960x978.jpg);
    }
}

/*Prohome*/

.prehome__plan ul {
    list-style-image: url('../../img/bhp/bullet.svg');
    padding-left: 0;
    margin-top: 32px;
}
.body-home .footer-home {
    flex-wrap: wrap;
    gap: 2rem;
}

    .body-home .footer-home::before {
        content: '';
        background-image: url(../../img/bhp/security.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;
        display: block;
        margin: 1rem auto;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 0;
    }
